<div class="container-fluid">
  <section class="text">
    Hi, I'm <span>Lucas Jesus</span>
    <br>
    <label>
      {{this.sentence}}
    </label>
  </section>

  <section class="button">
    <button-template (click)="onClickScroll('contact')" [redirectLink]=null [insideText]="'Contact'"></button-template>
  </section>

  <section class="social-medias">
    <social-media [isDarkModeOn] = isDarkMode [inputSocialMedia]="'instagram'"></social-media>
    <social-media [isDarkModeOn] = isDarkMode [inputSocialMedia]="'linkedin'"></social-media>
    <social-media [isDarkModeOn] = isDarkMode [inputSocialMedia]="'github'"></social-media>
    <social-media [isDarkModeOn] = isDarkMode [inputSocialMedia]="'email'"></social-media>
  </section>
</div>
