<div class="container-fluid">
  <div class="text">
    Hi, I'm <span>Lucas Jesus</span>
    <br>
    <label>
      {{this.sentence}}
    </label>
  </div>

  <div class="button">
    <button-template [redirectLink]="''" (onClickScroll)="'contact'" [insideText]="'Contact'"></button-template>
  </div>

  <div class="social-medias">
    <social-media [isDarkModeOn] = isDarkMode [inputSocialMedia]="'instagram'"></social-media>
    <social-media [isDarkModeOn] = isDarkMode [inputSocialMedia]="'linkedin'"></social-media>
    <social-media [isDarkModeOn] = isDarkMode [inputSocialMedia]="'github'"></social-media>
    <social-media [isDarkModeOn] = isDarkMode [inputSocialMedia]="'email'"></social-media>
  </div>
</div>
