<div class="container-fluid">
  <div class="text">
    Hi, I'm <span>Lucas Jesus</span>
    <br>
    <label>
      {{this.sentence}}
      {{ now | date:'HH:mm:ss'}}
    </label>
  </div>

  <div class="button">
    <button-template [redirectLink]="''" [insideText]="'Contact'"></button-template>
  </div>

  <div class="social-medias">
    <social-media [inputSocialMedia]="'instagram'"></social-media>
    <social-media [inputSocialMedia]="'linkedin'"></social-media>
    <social-media [inputSocialMedia]="'github'"></social-media>
    <social-media [inputSocialMedia]="'email'"></social-media>
  </div>
</div>
