<main class="grid">
  <app-wellcome id="welcome" [welcomeData]="homeData.welcomeSection"></app-wellcome>
  <app-functions id="functions" [roleSection]="homeData.roleSection"></app-functions>
  <app-history #history id="history" [historySection]="homeData.historySection"></app-history>
  <app-projects id="project"></app-projects>
  <app-contact id="contact"></app-contact>

  <aside class="sections">
    <a href="#welcome" ></a>
    <a href="#functions" ></a>
    <a href="#history" (click)="click($event)"></a>
    <a href="#project" ></a>
    <a href="#contact"  ></a>
  </aside>
</main>
