app-header {
  @media screen and (min-width: 768px){
    position: absolute;
    z-index: 12;
    top: 10px;
  }
}

router-outlet {
  position: absolute;
  top: 100px;
}

.view {
  position: relative;
}
