<div class="content">
  <img
    src="{{ CONSTANTES.ICONE_LOGO_SEM_CAMADAS }}"
    alt="Icone Lucas Traumer"
    class="content__icone"
  >

  <ul>
    <li>
      <a href="https://www.linkedin.com/in/lucassjesus/" style="--clr:#0a66c2">
        <img
          src="{{ CONSTANTES.LINKEDIN_ICON }}"
          alt="icone Linkedin"
        >
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/LuccasTraumer" style="--clr:#1877f2">
        <img
          src="{{ CONSTANTES.FACEBOOK_ICON }}"
          alt="icone Facebook"
        >
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/luccastraumer/" style="--clr:#ff0063">
        <img
          src="{{ CONSTANTES.INSTAGRAM_ICON }}"
          alt="icone instagram"
        >
      </a>
    </li>
    <li>
      <a href="https://github.com/LuccasTraumer" style="--clr:#fff">
        <img
          src="{{ CONSTANTES.GITHUB_ICON }}"
          alt="icone Github"
        >
      </a>
    </li>
  </ul>

  <p class="content__copy">
    Copyright 2022 Lucas Jesus. All Rights Reserved
  </p>
</div>
