<div class="content">
  <img
    src="{{ CONSTANTES.ICONE_LOGO_SEM_CAMADAS }}"
    alt="Icone Lucas Traumer"
    class="content__icone"
  >

  <nav class="content__social">
    <a
      href=""
      class="content__social--item"
    >
      <img
        src="{{ CONSTANTES.LINKEDIN_ICON }}"
        alt="icone linkedin"
      >
    </a>
    <a
      href=""
      class="content__social--item"
    >
      <img
        src="{{ CONSTANTES.FACEBOOK_ICON }}"
        alt="icone facebook"
      >
    </a>
    <a
      href="https://instagram.com/luccastraumer"
      class="content__social--item">
      <img
        src="{{ CONSTANTES.INSTAGRAM_ICON }}"
        alt="icone instagram"
      >
    </a>
  </nav>

  <p class="content__copy">
    Copyright 2022 Lucas Jesus. All Rights Reserved
  </p>
</div>
