.content {
  padding: 1rem;
  display: flex;
  flex-flow: wrap;

  @media screen and (min-width: 700px){
    display: grid;
    grid-template-areas:
    "logo icones"
  ;
  }

  &__icone {
    width: 15%;

    @media screen and (min-width: 700px){
      width: 10%;
    }
  }

  ul {
    margin: auto 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    grid-template-columns: repeat(4, 80px);
    align-items: center;
    left: 50%;
    transform: translate(-55%, 0);
    background: none;
    align-self: center;
    text-align: center;
    width: 60%;
  }

  ul li {
    list-style: none;
  }

  ul li a {
    position: relative;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    line-height: 3.75rem;
    background: #333;
    border-radius: 50%;
    font-size: 2rem;
    color: #666;
    transition: .5s;
    overflow: hidden;

    @media screen and (min-width: 700px) {
      width: 4rem;
      height: 4rem;
    }

    img {
      position: absolute;
      top: 30%;
      left: 30%;
      background: none;
      aspect-ratio: 1/1;

      @media screen and (min-width: 700px) {
        top: 38%;
        left: 38%;
      }
    }
  }

  ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: var(--clr);
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }

  ul li a:hover::before {
    transform: scale(0.5);
    box-shadow: 0 0 15px var(--clr);
  }

  ul li a:hover {
    color: var(--clr);
    box-shadow: 0 0 5px var(--clr);
    text-shadow: 0 0 5px var(--clr);
  }

  &__copy {
    padding-top: 5%;
    display: block;
    margin: 0 auto;

    @media screen and (min-width: 700px){
      grid-gap: copy;
    }
  }
}
