<div class="container-fluid">
    <div>
        <a href="http://" target="_blank" rel="noopener noreferrer"><label>Home</label></a>
    </div>
    <div>
        <a href="http://" target="_blank" rel="noopener noreferrer"><label>About</label></a>
    </div>
    <div>
        <a href="http://" target="_blank" rel="noopener noreferrer"><label>Resume</label></a>
    </div>
    <div>
        <a href="http://" target="_blank" rel="noopener noreferrer"><label>Portifolio</label></a>
    </div>
    <div>
        <a href="http://" target="_blank" rel="noopener noreferrer"><label>Contact</label></a>
    </div>
</div>