<section class="content p-8 overflow-hidden w-screen">
  <div class="content__cards">
    <nav class="content__cards--card bg-white p-20">
      <h3 class="content__cards--card--title font-bold font-bold title blue-porple-text">
        I build &<br>
        design stuff
      </h3>
      <p class="content__cards--card--description description">
        Open source projects, web apps and experimental.
      </p>

      <div class="content__cards--card--button">
        <app-button
          [content]="'see my work'"
          [hasIcon]="true"
          [classIcon]="'move-right'"
          (clickEventEmitter)="redirectToWork($event)"
        ></app-button>
      </div>
    </nav>
    <nav class="content__cards--card bg-white p-20">
      <h3 class="content__cards--card--title font-bold title blue-porple-text font-bold">
        I write,<br>
        sometimes
      </h3>
      <p class="content__cards--card--description description">
        About design, frontend dev, learning and life.
      </p>
      <div class="content__cards--card--button">
        <app-button
          [content]="'read my articles'"
          [classIcon]="'move-right'"
          [hasIcon]="true"
          (clickEventEmitter)="redirectArticle($event)"
        ></app-button>
      </div>
    </nav>
  </div>
</section>
