<main class="grid">
  @defer (on viewport) {
  <app-wellcome id="welcome"></app-wellcome>
  }@placeholder {
  <p>Lucas</p>
  }

  @defer (on viewport) {
    <app-functions id="functions"/>
  }@placeholder {
  <p>Lucas</p>
  }

  @defer (on viewport) {
    <app-history #history id="history"></app-history>
  } @placeholder {
  <p>Lucas</p>
  }

  @defer (on viewport) {
    <app-projects id="project"></app-projects>
  } @placeholder {
  <p>Lucas</p>
  }

  @defer (on viewport) {
    <app-contact id="contact"></app-contact>
  } @placeholder {
  <p>Lucas</p>
  }

  <aside class="sections">
    <a href="/home#welcome"></a>
    <a href="/home#functions"></a>
    <a href="/home#history"></a>
    <a href="/home#project"></a>
    <a href="/home#contact" ></a>
  </aside>
</main>
