<main class="grid">
  @defer (on viewport; when homeSectionService.getHomeData().welcomeSection) {
    <app-wellcome id="welcome" class="snap-center"/>
  }@placeholder {
    <app-skelton [typeSkeleton]="'home'"/>
  }

  @defer (on viewport; when homeSectionService.getHomeData().roleSection) {
    <app-functions id="functions" class="snap-center"/>
  }@placeholder {
    <app-skelton [typeSkeleton]="'home'"/>
  }

  @defer (on  viewport; when homeSectionService.getHomeData().historySection) {
    <app-history #history id="history" class="snap-center"/>
  }@placeholder {
    <app-skelton [typeSkeleton]="'home'"/>
  }

  @defer (on viewport; when homeSectionService.getHomeData().historySection) {
    <app-projects id="project" class="snap-center"/>
  }@placeholder {
    <app-skelton [typeSkeleton]="'home'"/>
  }

  @defer (on viewport; when homeSectionService.getHomeData().historySection) {
    <app-contact id="contact" class="snap-center"/>
  }@placeholder {
    <app-skelton [typeSkeleton]="'home'"/>
  }
</main>
