<section class="content p-16 overflow-hidden w-screen">
  <h3 class="content__title title blue-porple-text font-bold">
    send me a message!
  </h3>

  <p class="content__description description leading-tight purple-text">
    Got a question or proposal, or just want to say hello? Go ahead.
  </p>

  <form
    [formGroup]="formGroup"
    (ngSubmit)="clickButton()"
    action=""
    method="post"
    class="content__form"
  >
    <div class="content__form__name">
      <label
        for="name"
        class="content__form--description-input block"
        (click)="isFocus($event)"
        [ngClass]="isNameInputFocus ? '.is-label-active' : ''"
        >Your name</label
      >
      <input
        type="text"
        name="name"
        id="name"
        placeholder="{{ isNameInputFocus ? '' : 'Enter your name' }}"
        class="content__form--input w-full"
        [ngClass]="isNameInputFocus ? '.is-input-active' : ''"
        formControlName="name"
      />
      <div
        *ngIf="!name?.valid && (name?.dirty || name?.touched)"
        class="text-danger"
      >
        <div
          [hidden]="
            name !== null &&
            name.errors !== null &&
            name.errors !== null &&
            !name.errors['required']
          "
        >
          name is required
        </div>
        <div
          [hidden]="
            name !== null &&
            name.errors !== null &&
            name.errors['name'] !== null &&
            !name.errors['name']
          "
        >
          invalid name!
        </div>
      </div>
    </div>

    <div class="content__form__email">
      <label
        for="email"
        class="content__form--description-input block"
        (click)="isFocus($event)"
        [ngClass]="isEmailInputFocus ? '.is-label-active' : ''"
        >Email Adress</label
      >
      <input
        type="text"
        name="email"
        id="email"
        placeholder="{{ isEmailInputFocus ? '' : 'Enter your email adress' }}"
        class="content__form--input w-full"
        [ngClass]="isEmailInputFocus ? '.is-input-active' : ''"
        formControlName="email"
      />

      <div
        *ngIf="!email?.valid && (email?.dirty || email?.touched)"
        class="purple-text"
      >
        <div
          [hidden]="
            email !== null &&
            email.errors !== null &&
            email.errors !== null &&
            !email.errors['required']
          "
        >
          email is required
        </div>
        <div
          [hidden]="
            email !== null &&
            email.errors !== null &&
            email.errors['email'] !== null &&
            !email.errors['email']
          "
        >
          invalid email id
        </div>
      </div>
    </div>

    <div class="content__form__message">
      <label
        for="message"
        class="content__form--description-input block"
        (focusin)="isFocus($event)"
        ngClass="{{ isMessageInputFocus ? '.is-label-active' : '' }}"
        >Your message
      </label>
      <textarea
        name="message"
        id="message"
        cols="30"
        rows="5"
        placeholder="{{
          isMessageInputFocus
            ? ''
            : 'Hi, I think we need a developer for our products at Company X. How soon can you hop on to discuss this?'
        }}"
        class="content__form--input w-full"
        [ngClass]="isMessageInputFocus ? '.is-input-active' : ''"
        name="message"
        formControlName="message"
      ></textarea>

      <div
        *ngIf="!message?.valid && (message?.dirty || message?.touched)"
        class="green-color"
      >
        <div
          [hidden]="
            message !== null &&
            message.errors !== null &&
            message.errors !== null &&
            !message.errors['required']
          "
        >
          message is required!
        </div>
        <div
          [hidden]="
            message !== null &&
            message.errors !== null &&
            message.errors['message'] !== null &&
            !message.errors['message']
          "
        >
          invalid message!
        </div>
      </div>
    </div>

    <div class="content__form--button w-2/4">
      <app-button
        [disabled]="!formGroup.valid"
        [hasIcon]="true"
        [classIcon]="'move-right'"
        [content]="'shoot'"
        (clickEventEmitter)="clickButton($event)"
      ></app-button>
    </div>
  </form>
</section>
