/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'assets/styles/_global.scss';

* {
  margin: 0;
  padding: 0;

  font-family: 'Inter', sans-serif;
}

img {
  image-rendering: pixelated;
}

html {
  overflow-x: hidden;
}

body {
  color: #000;
  background-color: $blue-porple;
  overflow-x: hidden;
}

.contrast-text {
  color: $white-text;
}

.green-color {
  color: $green-text;
}

.white-text {
  color: $white-text;
}

.blue-porple-text {
  color: $blue-porple;
}

.purple-text {
  color: $purple;
}

.bg-green {
  background: $green-text;
}

.bg-white {
  background: $white-text;
}

.bg-blue-porple {
  background: $blue-porple;
}

.content {
  max-width: 100vw;

  @media screen and (min-width: 1024px){
    height: 100vh;
  }
}

.title {
  font-size: 1.7rem;
  line-height: 1.3;
  letter-spacing: -0.03em;
}

.description {
  font-size: 0.9em;
  letter-spacing: 0.01em;
  padding: 1rem 0 2rem 0;
}

.text-danger {
  color: red;
}
