<div class="container-fluid">
    <div class="header">
      <app-static-header class="row" id="head"></app-static-header>
    </div>
    <div class="content">
        <div>
            <app-head class="row" id="home"></app-head>
        </div>
        <div>
            <app-about class="row" id="about"></app-about>
        </div>
        <div>
            <app-resume class="row" id="resume"></app-resume>
        </div>
        <div>
            <app-portifolio class="row" id="portfolio"></app-portifolio>
        </div>
        <div>
            <app-contact class="row" id="contact"></app-contact>
        </div>
    </div>
    <div>
        <app-footer class="row" id="footer"></app-footer>
    </div>

</div>