<div class="container-fluid">
    <div class="header">
      <app-static-header></app-static-header>
    </div>
    <div class="content">
        <div>
            <app-head></app-head>
        </div>
        <div>
            <app-about></app-about>
        </div>
        <div>
            <app-resume></app-resume>
        </div>
        <div>
            <app-portifolio></app-portifolio>
        </div>
        <div>
            <app-building></app-building>
            <app-contact></app-contact>
        </div>
    </div>
    <div>
        <app-footer></app-footer>
    </div>

</div>