<div class="container-fluid">
    <div class="header">
      <!--  <app-static-header></app-static-header>-->
    </div>
    <div class="body">
        <div>
            <app-head></app-head>
        </div>
        <div>
            <app-about></app-about>
        </div>
        <div>
            <app-resume></app-resume>
        </div>
        <div class="build container-fluid">
            <div class="container">
                <img src="https://raw.githubusercontent.com/LuccasTraumer/luccastraumer.github.io-page/db094b2aa68a6d98df6338cac2caf93ccaaa80e2/webpage/src/assets/in-building.svg" alt="" srcset="">
                <label class="font-size2rem">401 IN BUILDING</label>
            </div>
        </div>
    </div>

</div>