.container-fluid {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.body {
    display: grid;
    grid-area: auto;
    grid-template-rows: 80vh 100vh 130vh repeat(2, 100vh);
}
.body div {
    width: 100%;
    display: contents;
}