<section class="p-4" id="port">
  <h2 class="capitalize py-2 text-xl">portfolio</h2>

  <div class="grid grid-cols-1 grid-rows-1 gap-3 md:grid-cols-2 lg:grid-cols-3 lg:gap-3">
    <ng-container *ngFor="let project of projects">
      <a
        href="{{project.linkProject}}"
        target="_blank"
        class="hover:bg-grey-500 hover:opacity-50 hover:content-['Lucas'] transition delay-75"
      >
        <!--      <picture>-->
        <!--        <source media="(min-width: 400px)" srcset="assets/img/Festa%20do%20Farol-202.jpg">-->
        <!--        <source media="(max-width: 400px)" srcset="assets/img/Festa%20do%20Farol-202.jpg">-->
        <!--      </picture>-->

        <img
          class="rounded object-cover max-w-lg w-96 max-h-72 h-64 md:max-w-full"
          src="{{project.img}}"
          alt="{{project.ariaLabel}}"
        >
      </a>
    </ng-container>
  </div>
</section>
