<nav class="container-fluid">
  <article class="conten">
    <section class="title-section">
      <h1>About</h1>
    </section>

    <article class="body">
      <section class="text">
        Hello! I'm Lucas. IT Student at the Technical High School of Campinas. @cotuca and Software Engineer Intern at @ciandt.
      I loved tattos, finance and martial arts
      </section>
      <section class="me">
        <table>
          <tbody>
            <tr>
              <th>
                <img src="{{ PROFILE_ICON_WHITE }}" alt="profile icon" srcset="" [hidden] = !isDarkMode>
                <img src="{{ PROFILE_ICON_BLACK }}" alt="profile icon" srcset="" [hidden] = isDarkMode>
              </th>
              <td>Lucas Jesus</td>
            </tr>

            <tr>
              <th>
                <img src="{{ SOUND_ICON_WHITE }}" alt="language icon" srcset="" [hidden] = !isDarkMode>
                <img src="{{ SOUND_ICON_BLACK }}" alt="language icon" srcset="" [hidden] = isDarkMode>
              </th>
              <td>Portugues & English</td>
            </tr>

            <tr>
              <th>
                <img src="{{ LOCATION_ICON_WHITE }}" alt="location icon" srcset=""[hidden] = !isDarkMode>
                <img src="{{ LOCATION_ICON_BLACK }}" alt="location icon" srcset="" [hidden] = isDarkMode>
              </th>
              <td>Campinas, Brazil</td>
            </tr>
          </tbody>
        </table>
      </section>
    </article>
  </article>

</nav>
