@media screen and (max-width: 767px) {
  .container-fluid {
    width: 100vw;
    height: 50vh;
    border-radius: 0;
    display: flex;
    align-items: center;
    padding: 2% 5% 2% 5%;
    background-color: var(--bg-contraste);

    .title-section {
      text-align: center;
      padding: 5%;
    }

    .text {
      font-size: 0.9em;
      font-weight: 600;
    }

    .body {
      display: flex;
      flex-direction: column;

      .me {
        width: 100%;

        table {
          width: inherit;
          padding: inherit;

          tbody {
            display: flex;
            width: inherit;
            flex-direction: column;

            tr {
              display: inherit;
              width: inherit;
              align-self: center;
              justify-content: space-between;
              padding: 5%;
              font-size: 0.8rem;
              font-weight: 500;

              img {
                width: 1.3rem;
              }
            }
          }
        }
      }
    }
  }
}
