<div class="container">
  <section class="title-section">
    <h1>About</h1>
  </section>

  <div class="text">
    Hello! I'm Lucas. IT Student and monitor at the Technical High School of Campinas. @cotuca and Software Engineer Intern at @ciandt. I have a little experiencia with angular 8 and Spring boot. I like sou much what a do but in parallel I have studying about develop mobile native but don't have experience professional yet but is a thing who I want learn more Android and IOS native. I have a lucky to had greate professionals close to me in my job and this make easily the things to me. So thanks every one.</div>
  <div class="me">
    <table>
      <tr>

        <th><img src="{{ PROFILE_ICON }}" alt="" srcset=""></th>
        <td>Lucas Jesus</td>
      </tr>

      <tr>
        <th><img src=" {{ SOUND_ICON }} " alt="" srcset=""></th>
        <td>Portugues & English</td>
      </tr>

      <tr>
        <th><img src="{{ LOCATION_ICON }}" alt="" srcset=""></th>
        <td>Campinas, Brazil</td>
      </tr>
    </table>
  </div>
</div>
