.container-fluid {
  color: var(--font-color);
  display: flex;
  padding: 0;
  margin: 0;

  h1 {
    text-align: center;
    padding: 2%;
  }

  .body {
    display: flex;
  }

  .text {
    font-weight: 600;
  }

  table {
    padding: inherit;

    tbody {
      display: flex;
      width: inherit;
      flex-direction: column;

      tr {
        display: inherit;
        width: inherit;
        align-self: center;
        justify-content: space-between;
        padding: 5%;
        font-size: 0.8rem;
        font-weight: 500;

        img {
          width: 1.3rem;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .container-fluid {
    align-items: center;
    max-width: 100vw;
    width: 100vw;
    height: 40vh;
    max-height: 40vh;
    margin: 0;
    justify-content: center;


    .conten {
      background-color: var(--bg-contraste);
      height: inherit;
      max-width: 60%;
      border-radius: 50px;
      justify-content: center;
      padding: 5%;
      align-self: center;

    }

    .body {
      flex-direction: row;

      .text {
        width: 70%;
        text-align: center;
      }

      .me {
        width: 20%;
      }

      table {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .container-fluid {
    width: 100vw;
    height: 70vh;
    border-radius: 0;
    justify-content: center;

    .text {
      font-size: 0.9em;
    }

    .conten {
      width: inherit;
      height: 70%;
      background-color: var(--bg-contraste);
      border-radius: 0px;
      padding: 5%;

      .body {
        flex-direction: column;
        align-items: center;

        .me {
          width: 100%;

          table {
            width: inherit;
          }
        }
      }
    }
  }
}
