<div class="container-fluid">
  <div class="conten">
    <section class="title-section">
      <h1>About</h1>
    </section>

    <div class="body">
      <div class="text">
        Hello! I'm Lucas. IT Student at the Technical High School of Campinas. @cotuca and Software Engineer Intern at @ciandt.
      I loved tattos, finance and martial arts
      </div>
      <div class="me">
        <table>
          <tbody>
            <tr>
              <th><img src="{{ PROFILE_ICON }}" alt="profile icon" srcset=""></th>
              <td>Lucas Jesus</td>
            </tr>

            <tr>
              <th><img src="{{ SOUND_ICON }}" alt="language icon" srcset=""></th>
              <td>Portugues & English</td>
            </tr>

            <tr>
              <th><img src="{{ LOCATION_ICON }}" alt="location icon" srcset=""></th>
              <td>Campinas, Brazil</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
