@import "src/assets/styles/global";

.content {
  background: $purple;

  &__title {
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 0.05em;
    color: #fff;
    text-transform: uppercase;

  }

  &__text {
    color: $green-text;
    text-transform: capitalize;

    &:first-letter {
      text-transform: uppercase;
    }

    &:last-child {
      padding-bottom: 1rem;
    }
  }

  &__copy {
    color: $green-text;
    border-top: 0.1px solid $green-text;
    padding: 1rem 0;
    margin: 2rem 0 0 0;
  }
}
