@media screen and (max-width: 425px) {
  .container-fluid {

    width: 100vw;
    height: 25vh;
    margin-bottom: 5%;

    .cont{
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 5%;
      background-color: var(--bg-contraste);
      border-radius: 10px;


      .button {
        background-color: var(--first-color);
        width: 25vw;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin-top: 7%;
        a {
          color: var(--bg-contraste);
        }
      }
    }
  }
}

.container-fluid {
  display: grid;

  flex-flow: row wrap;



  .cont {
    height: 8vh;
    width: 5vw;
    background-color: var(--bg-contraste);
  }
}
