<section  class="container-fluid">

  <h3 class="title">{{repository.name.split('_').splice(0,2).join(' ')}}</h3>

  <label [hidden]="!longDescription" class="descript">- {{repository.description.split(' ').splice(0, 5).join(' ')}}<a class="descript" (click)="clickButton()"> mostrar mais</a></label>

  <label [hidden]="longDescription" class="descript">- {{repository.description.split(' ').splice(0, 8).join(' ')}}... <a class="descript" (click)="clickButton()"> mostrar menos</a></label>


  <div class="button">
    <button-template [insideText] ="'GITHUB'" [redirectLink] = 'repository.html_url'></button-template>
  </div>

</section>
