<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark w3-animate-left">
        <a class="navbar-brand text-uppercase font-weight-bold letter-spacing3" (click)="onClickScroll('home')">Lucas</a>
        <button class="navbar-toggler bg-green" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" data-toggle="collapse" href="#navbarNavAltMarkup" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse w3-animate-right" id="navbarNavAltMarkup" [ngbCollapse]="isCollapsed">
            <div class="navbar-nav font-fam-Works letter-spacing0-5 text-uppercase">
                <a class="nav-item nav-link active" (click)="onClickScroll('head')">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" (click)="onClickScroll('about')">About</a>
                <a class="nav-item nav-link" (click)="onClickScroll('resume')">Resume</a>
                <a class="nav-item nav-link" (click)="onClickScroll('portfolio')">Portfolio</a>
                <a class="nav-item nav-link" (click)="onClickScroll('contact')">Contact</a>
            </div>
        </div>
    </nav>
</div>