.container-fluid {
    width: 150%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0%;
}

.links {
    justify-content: flex-end;
}

.navbar-brand {
    color: #1CB698;
    font-size: 30px;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-collapse {
    justify-content: flex-end;
}

@media only screen and (min-width: 574px) {
    .container-fluid {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        margin: 0%;
    }

    .navbar-brand {
        padding-left: 5%;
    }

    .navbar-collapse {
        padding-left: 2%;
        padding-right: 2%;
    }
}