/* You can add global styles to this file, and also import other style files */


/* Font-Size */
.font-size1-5rem {
    font-size: 1.5rem;
}

.font-size2rem {
    font-size: 2rem;
}


/* Font-COLORS and Background Colors */
.bg-color-black {
    background-color: #1e2326;
}

.bg-color-grey {
    background-color: #252a2e;
}

.bg-green {
    background-color: #1CB698;
}

.font-green {
    color: #1CB698;
}

/*Font Family Work Sans*/
.font-fam-Works {
    font-family: 'Work Sans', sans-serif;
}
/*Letter Spacing */

.letter-spacing0-5 {
    letter-spacing: 0.5px;
}

.letter-spacing3 {
    letter-spacing: 3px;
}