<div class="projetcs">
    <div class="image">
        <figure>
            <a href="{{getLinkRemadeWebSite()}}" target="_blank" rel="noopener noreferrer">
                <img class="card-img-top w3-animate-bottom" src="https://raw.githubusercontent.com/LuccasTraumer/remade_random_websites/master/agencia/Screenshot_2020-09-06%20Digital%20Agency.png?token=AD5NGIY6ZESMIOXSZCLN43C7L3JQG" alt="" srcset="">
                <div class="img__description">
                    <p class="font-size1-5rem w3-animate-top">Remade Random Websites</p>
                    <label class="w3-animate-bottom">I getet someone's layout on internet and remade only with HTML and CSS to training my skills in frontend </label>
                </div>
            </a>
        </figure>
    </div>
    <div class="image">
        <figure>
            <a href="{{getLinkRemadeWebSite()}}" target="_blank" rel="noopener noreferrer">
                <img class="card-img-top w3-animate-bottom" src="https://raw.githubusercontent.com/LuccasTraumer/remade_random_websites/master/novo/Screenshot_2020-09-06%20One%20Page%20Love.png?token=AD5NGI2E6FV37GWDSKLNI2C7L3JOK" alt="" srcset="">
                <div class="img__description">
                    <p class="font-size1-5rem w3-animate-top">Remade Random Websites</p>
                    <label class="w3-animate-bottom">I getet someone's layout on internet and remade only with HTML and CSS to training my skills in frontend</label>
                </div>
            </a>
        </figure>
    </div>
    <div class="image">
        <figure>
            <a href="{{getLinkAirCnC()}}" target="_blank" rel="noopener noreferrer">
                <img class="card-img-top w3-animate-bottom" src="https://raw.githubusercontent.com/LuccasTraumer/AirCnC/master/Images_Web/Web_Screen_Login.jpg" alt="" srcset="">
                <div class="img__description">
                    <p class="font-size1-5rem w3-animate-top">AirCnC</p>
                    <label class="w3-animate-bottom">AirCnC Code and Coffe, developer who wants to pay for a daily rate in a company and know the environment and network </label>
                </div>
            </a>
        </figure>
    </div>
    <div class="image">
        <figure>
            <a href="{{getLinkTwitterData()}}" target="_blank" rel="noopener noreferrer">
                <img class="card-img-top w3-animate-bottom" src="https://raw.githubusercontent.com/LuccasTraumer/twitter_data_covid-19/master/Screenshot_2020-09-05%20Atualiza%C3%A7%C3%A3o%20sobre%20COVID-19%20(%20againstCovi19)%20Twitter.png" alt="" srcset="">
                <div class="img__description">
                    <div class="img__description">
                        <p class="font-size1-5rem w3-animate-top">Twitter Data Covid-19</p>
                        <label class="w3-animate-bottom"> Just need mention @againstCovi19 with word brasil for information about Brasil and global to data about World
                            twitter.com/againstcovi19 </label>
                    </div>
                </div>
            </a>   
        </figure>
    </div>
    <div class="image">
        <figure>
            <a href="{{getLinkWazeDev()}}" target="_blank" rel="noopener noreferrer">
                <img class="card-img-top w3-animate-bottom" src="https://raw.githubusercontent.com/LuccasTraumer/WazeDev/master/psReadme/Web/createDevGif.gif" alt="" srcset="">
                <div class="img__description">
                    <div class="img__description">
                        <p class="font-size1-5rem w3-animate-top">WazeDev</p>
                        <label class="w3-animate-bottom">WazeDev is application where Developers can find another developers by language, who is search.</label>
                    </div>
                </div>
            </a>
        </figure>
    </div>
    <div class="image">
        <figure>
            <a href="{{getLinkMaiaraMartins()}}" target="_blank" rel="noopener noreferrer">
                <img class="card-img-top w3-animate-bottom" src="https://raw.githubusercontent.com/LuccasTraumer/mmartins/master/imgs/desktop-feed.jpg" alt="" srcset="">
                <div class="img__description">
                    <p class="font-size1-5rem w3-animate-top">MaiaraWebSite</p>
                    <label class="w3-animate-fading">WebPage created to share the work of my friend </label>
                </div>
            </a>
        </figure>
    </div>  
</div>