.menu {
  background: var(--bg-marrom);
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  position: fixed;
  z-index: 0;
  right: -200%;
  top: 0;
  transition: all 0.5s ease-in-out;
  visibility: hidden;

  .lista {
    list-style: none;
  }
}

.animacao {
  right: 0;
  z-index: 3;
  position: absolute;
  visibility: visible;
}
