.content-about {
  background: rgba(252, 218, 105, 0.7);
  padding: 15% 7%;
  position: relative;

  .desktop {
    display: none;
  }

  .up-title {
    color: #8873EF;
    transform: rotate(-35deg);
    position: absolute;
    top: 5%;
    left: -1%;
  }

  .title {
    font-weight: 900;
    margin: 10% 0;
  }

  .skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    figure {
      text-align: center;

      img {
        width: 40%;
      }
    }
  }

  .experience {
    padding: 5%;
    margin: 0 auto;

    h4 {
      font-weight: 800;
    }

    hr {
      border: 1px solid #000;
      margin: 0;
    }

    article {
      padding: 5% 0;

      hr {
        margin-top: 5%;
      }
      p {
        margin: 0;
      }

      .cargo {
        font-weight: 900;
        padding: 0 10%;
      }

      .empresa {
        opacity: 70%;
      }
    }

    article>p {
      padding: 0 5%;
    }
  }
}


@media screen and (min-width: 768px){
  .content-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    justify-content: space-around;
    align-items: center;

    .desktop {
      display: block;
    }

    .container {
      display: inline-flex;
    }

    .left-side {
      .up-title {
        top: 10%;
        left: 2%;
      }

      .title {
        font-size: 4rem;
        margin: 0;
      }

      ul {
        li {
          position: relative;
          hr {
            width: 2%;
            position: absolute;
            left: -4%;
            border: #111111 1.5px solid;
            top: -21.5%;
          }
        }
      }
    }

    .hire {
      width: 10rem;
      height: 10rem;

      .background {
        width: inherit;
        height: inherit;
        background-color: #000;
        color: #fff;
        border-radius: 100%;
        text-align: center;
        position: relative;
        left: 90%;
        display: inline-flex;

        .linha {
          border: 2px solid #fff;
          border-radius: inherit;
          padding: 38%;
          position: absolute;
          margin: 10%;
        }

        p {
          position: relative;
          height: 100%;
          width: 100%;
          display: inline-block;
          align-items: center;
          top: 40%;
          right: 10%;
        }

        img {
          width: 15%;
          height: 15%;
          position: absolute;
          margin: 40% 63%;
        }
      }
    }
  }
}
