<section class="content-about mobile">

  <div class="left-side">
    <p class="up-title">
      Experience
    </p>
    <h3 class="title">
      Skills & Experience
    </h3>

    <ul class="description desktop">
      <li>
        <hr>
        A full stack developer.
      </li>
      <li>
        Passionate in frontend.
      </li>
      <li>
        Ready to solution new problems.
      </li>
      <li>
        Ready to learn more another things.
      </li>
    </ul>

    <div class="container">
      <section class="skills">
        <figure *ngFor="let skill of listaSkills">
          <img
            src="{{ skill.pathImage }}"
            alt="Icone {{ skill.nomeSkill }}"
          >
          <figcaption>
            {{ skill.nomeSkill }}
          </figcaption>
        </figure>
      </section>
  </div>
  </div>

  <div class="right-side">
    <section class="experience">
      <h4>
        Experience
      </h4>
      <hr>
      <article *ngFor="let exp of listaExperiences">
        <p class="datas">
          {{ exp.anoInicio }} - {{ exp.anoTermino ? exp.anoTermino : 'Present'}}
        </p>
        <p class="cargo">
          {{ exp.cargo }}
        </p>
        <p class="empresa">
          {{ exp.nomeEmpresa }}
        </p>
        <hr>
      </article>
    </section>
  </div>

  <div></div>
  <div class="hire desktop">
    <div class="background">
      <hr class="linha">
        <p>
          Hire Me
        </p>
        <img
          src="{{ CONSTANTES.ICONE_ARROW_HIRE }}"
          alt="Icone de Contratar"
        >
    </div>
  </div>
</section>
