.content-about {
  background: var(--yellow-color);
  padding: 15% 7%;
  position: relative;

  .desktop {
    display: none;
  }

  .up-title {
    left: -1%;
    top: 5%;
    transform: rotate(-35deg);
  }

  .title {
    margin: 10% 0;
  }

  .skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    figure {
      text-align: center;

      img {
        width: 40%;
      }
    }
  }

  .experience {
    margin: 0 auto;
    padding: 5%;

    h4 {
      font-weight: 800;
    }

    hr {
      border: 1px solid #000;
      margin: 0;
    }

    article {
      padding: 5% 0;

      hr {
        margin-top: 5%;
      }
      p {
        margin: 0;
      }

      .cargo {
        font-weight: 900;
        padding: 0 10%;
      }

      .empresa {
        opacity: 70%;
      }
    }

    article>p {
      padding: 0 5%;
    }
  }
}


@media screen and (min-width: 768px){
  .content-about {
    align-items: center;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

    .desktop {
      display: block;
    }

    .container {
      display: inline-flex;
    }

    .left-side {
      .up-title {
        left: 2%;
        top: 10%;
      }

      .title {
        font-size: 4rem;
        margin: 0;
      }

      ul {
        li {
          position: relative;

          hr {
            border: #111111 1.5px solid;
            left: -4%;
            position: absolute;
            top: -21.5%;
            width: 2%;
          }
        }
      }
    }

    .hire {
      height: 10rem;
      width: 10rem;

      .background {
        background-color: var(--black-color);
        color: var(--white-color);
        display: inline-flex;
        height: inherit;
        border-radius: 100%;
        left: 90%;
        position: relative;
        text-align: center;
        width: inherit;

        .linha {
          border: 2px solid #fff;
          border-radius: inherit;
          margin: 10%;
          padding: 38%;
          position: absolute;
        }

        p {
          align-items: center;
          display: inline-block;
          position: relative;
          height: 100%;
          right: 10%;
          top: 40%;
          width: 100%;
        }

        img {
          height: 15%;
          margin: 40% 63%;
          position: absolute;
          width: 15%;
        }
      }
    }
  }
}
