<section class="content">
  <div class="container">
    <div class="left">
      <p class="up-title">
        Contact
      </p>

      <h2 class="title">
        Let’s Discuss
        Your Project
      </h2>

      <section class="contacts">
        <nav class="email">
          <img src="{{ CONSTANTES.ICON_EMAIL }}" alt="">

          <div class="info">
            <h4 class="sub-title">
              Email
            </h4>
            <p>
              lucassj.dev@gmail.com
            </p>
          </div>
        </nav>
        <hr>
        <nav class="location">
          <img src="{{ CONSTANTES.ICON_LOCATION }}" alt="">

          <div class="info">
            <h4 class="sub-title">
              Location
            </h4>
            <p>
              Rua Francisco Mesquita,
              Campinas 07
            </p>
          </div>
        </nav>
        <hr>
      </section>
    </div>

    <div class="right">
      <div class="circle">
        <img src="{{ CONSTANTES.IMAGE_CONTACT_HI }}" alt="">
      </div>
    </div>
  </div>
  <hr>

  <footer>
    <p>
      2021 All Right Reserved
    </p>
    <p>
      lucassj.dev@gmail.com
    </p>
  </footer>
</section>
