.content {
  position: relative;
  padding: 5% 5% 5% 0;
  background: rgba(252, 218, 105, 0.7);
  color: #000;


  .container {
    .left {
      .up-title {
        color: #8873EF;
        transform: rotate(-35deg);
        position: absolute;
        top: 5%;
        left: 0;
      }

      .title {
        font-weight: 900;
        font-size: 2.5rem;
        margin: 15% 5% 0;
        width: 50%;
      }

      .contacts {
        nav {
          display: inline-flex;
          margin: 0 auto;
          width: 100%;
          padding: 6% 0 2% 10%;

          img {
            width: 15%;
          }

          .info {
            display: inline-block;
            align-items: center;
            padding: 5%;

            .sub-title {
              font-weight: 900;
            }
          }
        }
      }

    }
    .right {
      .circle {
        padding: 5%;
        text-align: center;

        img {
          width: 100%;
        }
      }
    }
  }

  hr {
    border: 1.5px solid #000;
    width:90%;
    margin: 0 auto;
  }

  footer {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    padding: 5%;
  }
}

@media screen and (min-width: 768px){
  .content .container{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    padding: 5% 0;
    align-items: center;
    width: 100%;

    .left {
      width: 60%;

      .up-title {
        top: 10%;
      }

      .title {
        margin: 0 5%;
      }

      .contacts {
        hr {
          width: 90%;
        }
      }
    }

    .right {
      width: 40%;

      .circle {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }

  .content {
    hr {
      margin: 5%;
    }

    footer {
      padding: 0;
    }
  }
}
