.content {
  background: var(--yellow-color);
  padding: 5% 5% 5% 0;
  position: relative;

  .container {
    .left {
      .up-title {
        left: 0;
        top: 5%;
        transform: rotate(-35deg);
      }

      .title {
        margin: 15% 5% 0;
        width: 50%;
      }

      .contacts {

        nav {
          display: inline-flex;
          margin: 0 auto;
          padding: 6% 0 2% 10%;
          width: 100%;

          img {
            width: 15%;
          }

          .info {
            align-items: center;
            display: inline-block;
            padding: 5%;

            .sub-title {
              color: var(--black-color);
              font-weight: 900;
            }
          }
        }
      }

    }
    .right {
      .circle {
        padding: 5%;
        text-align: center;

        img {
          width: 100%;
        }
      }
    }
  }

  hr {
    border: 1.5px solid #000;
    margin: 0 auto;
    width:90%;
  }

  footer {
    display: inline-flex;
    justify-content: space-around;
    padding: 5%;
    width: 100%;
  }
}

@media screen and (min-width: 768px){
  .content .container{
    align-items: center;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    padding: 5% 0;
    width: 100%;

    .left {
      width: 60%;

      .up-title {
        top: 10%;
      }

      .title {
        margin: 0 5%;
      }

      .contacts {
        hr {
          width: 90%;
        }
      }
    }

    .right {
      width: 40%;

      .circle {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }

  .content {
    hr {
      margin: 5%;
    }

    footer {
      padding: 0;
    }
  }
}
