<section class="content">
  <p class="up-title">
    Contact
  </p>

  <h2 class="title">
    Let’s Discuss
    Your Project
  </h2>

  <section class="contacts">
    <nav class="email">
      <img src="" alt="">

      <h4 class="sub-title">
        Email
      </h4>
      <p>
        lucassj.dev@gmail.com
      </p>
      <hr>
    </nav>
    <nav class="location">
      <img src="" alt="">

      <h4 class="sub-title">
        Location
      </h4>
      <p>
        Rua Francisco Mesquita,
        Campinas 07
      </p>
      <hr>
    </nav>
  </section>

  <div class="circle">
    <img src="" alt="">
  </div>
  <hr>
</section>

<footer>
  <p>
    2021 All Right Reserved
  </p>
  <p>
    lucassj.dev@gmail.com
  </p>
</footer>
