.container-fluid {
    background-color: #1e2326;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.container-fluid .top-data {
    text-align: center;
}

.container-fluid .projetcs {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    column-gap: 2%;
    row-gap: 2%;
    justify-content: center;
}

.image {
    position: relative;
    justify-content: center;
    height: auto;
    border-radius: 10%;
    text-align: center;

}

.image img {
    width: 22rem;
    height: 20rem;
    border-radius: 10%;
}

.img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(28, 182, 152, 0.60);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    margin-bottom: 4%;
    border-radius: 10%;
    justify-content: center;
    display: flex;
    flex-direction: column;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }

  .image:hover .img__description {
    visibility: visible;
    opacity: 1;
  }

.img__description label {
    justify-content: center;
}