<div class="container-fluid">
    <div class="top-data">
        <img src="" alt="" srcset="">
        <label >Recent Portfolio</label>
        <hr>
    </div>

    <div class="projetcs">
        <div class="image">
            <figure>
                <img class="card-img-top" src="https://raw.githubusercontent.com/LuccasTraumer/remade_random_websites/master/agencia/Screenshot_2020-09-06%20Digital%20Agency.png?token=AD5NGIY6ZESMIOXSZCLN43C7L3JQG" alt="" srcset="">
                <div class="img__description">
                    <p>Title</p>
                    <label>EsDescription</label>
                </div>
            </figure>
        </div>
        <div class="image">
            <figure>
                <img class="card-img-top" src="https://raw.githubusercontent.com/LuccasTraumer/remade_random_websites/master/novo/Screenshot_2020-09-06%20One%20Page%20Love.png?token=AD5NGI2E6FV37GWDSKLNI2C7L3JOK" alt="" srcset="">
                <div class="img__description">
                    <p>Title</p>
                    <label>EsDescription</label>
                </div>
            </figure>
        </div>
        <div class="image">
            <figure>
                <img class="card-img-top" src="https://raw.githubusercontent.com/LuccasTraumer/AirCnC/master/Images_Web/Web_Screen_Login.jpg" alt="" srcset="">
                <div class="img__description">
                    <p>Title</p>
                    <label>EsDescription</label>
                </div>
            </figure>
        </div>
        <div class="image">
            <figure>
                <img class="card-img-top" src="https://raw.githubusercontent.com/LuccasTraumer/twitter_data_covid-19/master/Screenshot_2020-09-05%20Atualiza%C3%A7%C3%A3o%20sobre%20COVID-19%20(%20againstCovi19)%20Twitter.png" alt="" srcset="">
                <div class="img__description">
                    <div class="img__description">
                        <p>Title</p>
                        <label>EsDescription</label>
                    </div>
                </div>
            </figure>
        </div>
        <div class="image">
            <figure>
                <img class="card-img-top" src="https://raw.githubusercontent.com/LuccasTraumer/WazeDev/master/psReadme/Web/createDevGif.gif" alt="" srcset="">
                <div class="img__description">
                    <div class="img__description">
                        <p>Title</p>
                        <label>EsDescription</label>
                    </div>
                </div>
            </figure>
        </div>
        <div class="image">
            <figure>
            <img class="card-img-top" src="https://raw.githubusercontent.com/LuccasTraumer/mmartins/master/imgs/desktop-feed.jpg" alt="" srcset="">
            <div class="img__description">
                <p>Title</p>
                <label>EsDescription</label>
            </div>
            </figure>
        </div>  
    </div>

</div>