.content{
  &__line::before {
    content: "_";
}

}

.content {
  &__line::after {
    content: "_";
  }
}

.content {
  border: none;
  background: inherit;
  cursor: pointer;
  height: 100%;
  max-height: 5vh;

  &__line {
    font-size: 2rem;
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 5px);
    color: var(--branco);
  }
}
