.content {

  &__line::before {
    content: "_";
    font-size: 3rem;
    color: var(--branco);
    justify-content: center;
    align-items: center;
}

}

.content {

  &__line::after {
    content: "_";
    font-size: 3rem;
    color: var(--branco);
    justify-content: center;
    align-items: center;
  }
}

.content {
  border: none;
  background: inherit;
  cursor: pointer;

  &__line {
    font-size: 3rem;
    display: grid;
    grid-template-rows: repeat(3, 8px);
    color: var(--branco);
    justify-content: center;
    align-items: end;
    grid-gap: 5%;
    overflow: hidden;
  }
}
