<div class="interest">
    <div class="title">
        <label >My Hobbies and Interest</label>
    </div>
    <div class="all-cards">
        <ul>
            <li class="card">
                <img src="" alt="" srcset="">
                games
            </li>
            <li class="card">
                <img src="" alt="" srcset="">
                music
            </li>
            <li class="card">
                <img src="" alt="" srcset="">
                travel
            </li>
            <li class="card">
                <img src="" alt="" srcset="">
                mac os
            </li>
            <li class="card">
                <img src="" alt="" srcset="">
                cinema
            </li>
            <li class="card">
                <img src="" alt="" srcset="">
                coffe
            </li>
            <li class="card">
                <img src="" alt="" srcset="">
                cards
            </li>
            <li class="card">
                <img src="" alt="" srcset="">
                money
            </li>
        </ul>
    </div>
</div>