<div class="interest">
    <div class="title">
        <label >My Hobbies and Interest</label>
    </div>
    <div class="all-cards">
        <ul>
            <li class="card">
                <img src="{{getIconControleGame()}}" alt="Controlle-game" srcset="">
                games
            </li>
            <li class="card">
                <img src="{{getIconHeadphone()}}" alt="headphone-icon" srcset="">
                music
            </li>
            <li class="card">
                <img src="{{getIconTravel()}}" alt="plane-icon" srcset="">
                travel
            </li>
            <li class="card">
                <img src="{{getIconApple()}}" alt="macOS-icon" srcset="">
                mac os
            </li>
            <li class="card">
                <img src="{{getIconCinematic()}}" alt="cinematic-icon" srcset="">
                cinema
            </li>
            <li class="card">
                <img src="{{getIconCoffe()}}" alt="coffe-icon" srcset="">
                coffe
            </li>
            <li class="card">
                <img src="{{getIconMoney()}}" alt="money-icon" srcset="">
                money
            </li>
        </ul>
    </div>
</div>