.interest {
    display: flex;
    flex-direction: column;
}

.interest .title {
    text-align: center;
}

.all-cards {
    justify-content: start;
}

ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: start;
    padding-right: 5%;
}

.card {
    background-color: #252a2e;
    border-radius: 10%;
}

ul li {
    height: 10vh;
    text-align: center;
    justify-content: center;
    transition: all 0.5s ease;
}

li img {
    width: 40%;
    align-self: center;
    padding: 2%;
}

.card:hover {
    background-color: #1CB698;
}

@media only screen and (min-width: 425px) {
    li img {
        padding: 2%;
        width: 15%;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    li img {
        padding: 2%;
        width: 25%;
    }
}

@media only screen and (min-width: 1024px) {
    ul {
        justify-content: center;
       grid-template-columns: repeat(3, 20%);
    }

    li img {
        width: 22%;
    }
}