<div class="container">
    <div class="content">
        <div class="text">
            <div class="data">
                <label class="font-size1-5rem">Hello, My Name is</label>
            </div>
            <div class="name">
                <label class="font-weight-bold font-size2rem">Lucas Jesus</label>
            </div>
            <div class="prof-data">
                <hr>
                A creative Freelancer & Full Stack Developer
            </div>
        </div>
        <div class="img-background">
            <img src="https://lh3.googleusercontent.com/LlXor0hPqfiKAvrVYh8hYuCQ8bL8J4OZ9WWDbVgomTLagUt7_uK4mH5G2cF5Yi3wW2DtIysA6i8c8W5BQt8gcHr1ySTSxrbqdqrojDhrORdrkXzQllOc1YUjaH_Hsowop9I4guyY_gcWmJCkDZ0pU20sHFvqgx1jxRIT-XxIwWTp2glJMUrpjBAU1eTxKOA_RHjn85_fIUm7qUJs4TwTZGjmhF0EjtDEai6tyQr8LvTjo-2_SsN6V78V5QnOupZ5WKANXuV6pYgE62J2fifnHUblL90RDCoTEIzgkG2Oxd60W8Qmrb__8TGTaIZdpX4mZpiz45NoNwZs5VzS6b-xTpp7fd0kTY1kkEERb2xw3JiL_e2gVC9SRnVbpaxSSUMIH5xOwL68zl_1cEHhJfIX9SDwpRFOaHjgXRN6vDgDolCDOMrwT8MP4fNg-0YDzLY_9DkxWBwkGlqHZ8lS4W1yCI8QMLyEuucrcPdqy8MNyi-tJlca28ZMfMsk1ryQhnSYwoKzyhkoY8U8dQJNC2Hfj_l7i8TjOwDImHrw5nM8PuYylfbvRfffxPnt50S5CDuHr6JJUoAsx0jfl7Zbkeyb3K4QttPwyUYppnKRaI8Xu9qFUhgj5JFJUm3KWxVvn4_yi4r-FDk_uFinsgVuWEJGTb8rcpfrjCc_lrCyjusASTlear81ic51rZ96ayfeHQ=s938-no?authuser=0" alt="" srcset="">
        </div>
    </div>
        <input class="text-uppercase" type="button" value="Know More">
</div>