<div class="container">
    <div class="content">

        <div class="img">
            <img src="https://pbs.twimg.com/profile_images/1277611211748782080/skKfoFuZ_400x400.jpg" alt="" srcset="">
        </div>

        <div class="card bg-dark">
            <div class="text">
                <label class="font-weight-bold font-size2rem">Lucas Jesus</label>
                <label class="font-size1-5rem">Software Engineer</label>
            </div>
            <div class="links-social">
                <div>
                    <a href="http://" target="_blank" rel="noopener noreferrer"><img src="https://raw.githubusercontent.com/LuccasTraumer/luccastraumer.github.io-page/dev/webpage/src/assets/social-media/facebook.png" alt="" srcset=""></a>
                </div>
                <div>
                    <a href="http://" target="_blank" rel="noopener noreferrer"><img src="https://raw.githubusercontent.com/LuccasTraumer/luccastraumer.github.io-page/dev/webpage/src/assets/social-media/twitter.png" alt="" srcset=""></a>
                </div>
                <div>
                    <a href="http://" target="_blank" rel="noopener noreferrer"><img src="https://raw.githubusercontent.com/LuccasTraumer/luccastraumer.github.io-page/dev/webpage/src/assets/social-media/instagram.png" alt="" srcset=""></a>
                </div>
                <div>
                    <a href="http://" target="_blank" rel="noopener noreferrer"><img src="https://raw.githubusercontent.com/LuccasTraumer/luccastraumer.github.io-page/dev/webpage/src/assets/social-media/linkedin.png" alt="" srcset=""></a>
                </div>
                <div>
                    <a href="http://" target="_blank" rel="noopener noreferrer"><img src="https://raw.githubusercontent.com/LuccasTraumer/luccastraumer.github.io-page/dev/webpage/src/assets/social-media/github.png" alt="" srcset=""></a>
                </div>
            </div>
        </div>
    </div>  
</div>

<label hidden>Icons get of: https://iconmonstr.com/</label>