<div class="container">
    <div class="content">
        <div class="text">
            <div class="data">
                <label class="font-size1-5rem">Hello, My Name is</label>
            </div>
            <div class="name">
                <label class="font-weight-bold font-size2rem">Lucas Jesus</label>
            </div>
            <div class="prof-data">
                <hr>
                A creative Freelancer & Full Stack Developer
            </div>
        </div>
        <div class="img-background">
            <img src="https://raw.githubusercontent.com/LuccasTraumer/luccastraumer.github.io-page/1b77063f245afd1001af94d3685c6a4df3bc18d3/webpage/src/assets/myImg.svg" alt="" srcset="">
        </div>
    </div>
        <input class="text-uppercase" type="button" value="Know More">
</div>