.content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .informacoes {
    display: inherit;
    flex-direction: column;
    text-align: center;

    .titulo {
      text-align: center;
      font-weight: bold;
    }

    .redes-sociais {

      &__titulo {
        text-align: center;
        font-weight: bold;
      }

      .lista {
        display: flex;
        justify-content: space-around;

        &__item {
          list-style: none;

          img {
            width: 50%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .content {
    .informacoes {
      flex-flow: row wrap;
    }
  }
}
