<footer class="content">
  <p>
    &copy; {{ getDate() }} by Lucas Jesus
  </p>

  <section class="informacoes">
    <div class="email">
      <h5 class="titulo">
        Email
      </h5>
      <a href="mailto:lucassj.dev@gmail.com">
        lucassj.dev@gmail.com
      </a>
    </div>

    <div class="redes-sociais">
      <h5 class="redes-sociais__titulo">
        Follow
      </h5>
      <ul class="lista">
        <li class="lista__item">
          <a href="https://twitter.com/luccastraumer" target="_blank">
            <img src="{{ CONSTANTES.PATH_ICONE_TWITTER }}" alt="Icone Twitter">
          </a>
        </li>
        <li class="lista__item">
          <a href="https://www.linkedin.com/in/lucassjesus/" target="_blank">
            <img src="{{ CONSTANTES.PATH_ICONE_LINKEDIN }}" alt="Icone Linkedin">
          </a>
        </li>
        <li class="lista__item">
          <a href="https://instagram.com/luccastraumer" target="_blank">
            <img src="{{ CONSTANTES.PATH_ICONE_INSTAGRAM }}" alt="Icone Instagram">
          </a>
        </li>
      </ul>
    </div>
  </section>
</footer>
