<div class="content">
  <app-header [isWithBackground]="isBackgroundVisible()"></app-header>
  <div class="content__banner">
    <div
        class="content__container"
        #container
        [ngClass]="!desaparecerContainerScrollReveal() ? 'animate__animated animate__fadeIn' : ''"
    >
      <div class="content__banner--container">
        <app-welcome></app-welcome>
        <app-astronauta></app-astronauta>
      </div>
    </div>

    </div>

  <app-skills
    [skills]="habilidadeAtual"
    (iteracaoClique)="exibicaoSkills($event)"
  ></app-skills>

  <app-projects class="animate__animated animate__backInUp">
  </app-projects>

  <app-contact>
  </app-contact>

  <app-footer></app-footer>
</div>
