@import "../../../../styles.scss";

.loading {
  width: 7rem;
  height: 7rem;
  border: 10px solid $purple;
  border-radius: 50%;
  border-top-color: $green-text;
  animation: spin 1s linear infinite;
  overflow: hidden;
  position: absolute;
  z-index: 999;


  @media screen and (min-width: 1024px) {
    width: 10rem;
    height: 10rem;
  }
}

.loading:after {
  border-top-color: $green-text;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
