<section class="container p-4" id="about">
  <h2 class="py-2 text-xl">About</h2>

  <p class="before:content-['-'] before:ml-0.5 before:text-yellow-500 before:w-8 text-sm leading-5 text-left">
    Passionate about technology, I found one of my passions in software development, it took a while to understand that
    it was an area for "me". I think that because I saw a lot in movies, series and other media that only super smart
    people worked with it, I was a little afraid at first but my resilience spoke louder and I immersed myself in it.
    <em class="text-yellow-500 not-italic">Today I work as a Software Development being a Frontend working hard with Angular.</em>
  </p>
</section>
