.botao {
  border: none;
  border-radius: 50px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  padding: 2%;
  margin-right: 5%;
}

.azul {
  background: var(--azul);
  color: white;
}

.azul:hover {
  background: inherit;
  color: #111111;
  border: 1px solid #000;
}

.transp {
  border: 1px solid #000;
  background: inherit;
}

.transp:hover {
  background: var(--azul);
  color: white;
}

.italic {
  font-weight: initial;
  font-size: 0.8rem;
  padding: 5%;
  width: 100%;
}
