<div class="container-fluid" class="headline">
  <nav class="content " [ngClass]="{'dark-theme': isDarkModeOn}">
    <section id="header" class="tagline">
      <personal-header (mode)="receiveMode($event)"></personal-header>
    </section>
    <section id="home" >
      <home class="punchline" [isDarkMode]=isDarkModeOn (mode)="receiveMode($event)"></home>
    </section>
    <section id="about">
      <about [isDarkMode]=isDarkModeOn></about>
    </section>
    <section>
      <work id="work"></work>
    </section>
    <section id="contact">
      <contact></contact>
    </section>
    <section>
      <personal-footer [isDarkMode]=isDarkModeOn></personal-footer>
    </section>
  </nav>
  <background setDark="setDark"></background>
</div>
