<div class="container-fluid" id="dark-theme">
  <div class="content">
    <section id="header">
      <personal-header id="header"></personal-header>
    </section>
    <section id="home">
      <home></home>
    </section>
    <section>
      <about id="about"></about>
    </section>
    <section>
      <work id="work"></work>
    </section>
    <section>
      <contact id="contact"></contact>
    </section>
    <section>
      <personal-footer></personal-footer>
    </section>
  </div>
</div>
