<section class="border-b-2 border-zinc-200 border-b-zinc-500 h-6/6 mx-0 box-content my-content  pt-28" id="presentation">
  <p class="my-4 text-xl px-8">
    I'm <em class="contrast-text font-semibold capitalize text-3xl">Lucas Traumer</em><br>
    Javascript and Java developer
  </p>

  <app-button
    class="px-8"
    [content]="'Contact me'"
    (click)="goContact()"
  ></app-button>

  <div class="flex justify-between items-end pt-20 md:pt-0">
    <img [src]="imagePath" alt="Me with my soccer club" class="w-80 h-auto">
    <nav class="flex items-end justify gap-3 flex-col pb-4 px-4 lg:mt-72 social">
      <div class="bg-yellow-500 flex flex-col h-24 w-0.5 items-end justify mx-2"></div>
      <a href="https://instagram.com/luccastraumer/" target="_blank">
        <lucide-angular name="instagramIcon" class="my-icon"></lucide-angular>
      </a>
      <a href="https://twitter.com/LuccasTraumer" target="_blank">
        <lucide-angular name="twitterIcon" class="my-icon"></lucide-angular>
      </a>
      <a href="https://www.linkedin.com/in/lucassjesus/" target="_blank">
        <lucide-angular name="linkedinIcon" class="my-icon"></lucide-angular>
      </a>
    </nav>
  </div>

</section>
