<app-header/>
<main class="view">
  <router-outlet></router-outlet>
  <aside class="sections fixed">
    <a
      class="item"
      href="/home#welcome"
      [class.squad]="sectionVisbleService.getActiveSection() === 'welcome'"
      [ngClass]="isGreenBorder() ? 'border-green' : 'border-purple'"
    ></a>
    <a
      class="item"
      href="/home#functions"
      [class.squad]="sectionVisbleService.getActiveSection() === 'functions'"
      [ngClass]="isGreenBorder() ? 'border-green' : 'border-purple'"
    ></a>
    <a
      class="item"
      href="/home#history"
      [class.squad]="sectionVisbleService.getActiveSection() === 'history'"
      [ngClass]="isGreenBorder() ? 'border-green' : 'border-purple'"
    ></a>
    <a
      class="item"
      href="/home#project"
      [class.squad]="sectionVisbleService.getActiveSection() === 'project'"
      [ngClass]="isGreenBorder() ? 'border-green' : 'border-purple'"
    ></a>
    <a
      class="item"
      href="/home#contact"
      [class.squad]="sectionVisbleService.getActiveSection() === 'contact'"
      [ngClass]="isGreenBorder() ? 'border-green' : 'border-purple'"
    ></a>
    <a
      class="item"
      href="/home#footer"
      [class.squad]="sectionVisbleService.getActiveSection() === 'footer'"
      [ngClass]="isGreenBorder() ? 'border-green' : 'border-purple'"
    ></a>
  </aside>
</main>

