@import "../styles.scss";

* {
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
}

app-header {
  grid-area: header;
  @media screen and (min-width: 1024px){
    position: absolute;
    z-index: 12;
    top: 10px;
  }
}

router-outlet {
  grid-area: main;
  top: 100px;
}

.loader {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

app-footer {
  grid-area: footer;
}

.sections {
  position: fixed;
  left: 90%;
  top: 50%;

  a {
    background: $green-text;
    transform: rotate(50deg);
    height: 1rem;
    width: 1rem;
    content: " ";
    margin: .5rem 0;
  }
}

html {
  scroll-snap-type: y mandatory;
}

app-wellcome, app-functions, app-history, app-projects, app-contact {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
