/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

$yellow: #f0bf6c;
$grey: #34353a;
$white: #fff;
$yellow-title-button: #ffc86b;
$yellow-text: #f7cd8e;

* {
  margin: 0;
  padding: 0;
  background: $grey;
  color: $white;

  font-family: 'Poppins', sans-serif;
}

.contrast-text {
  color: $yellow-text;
}
