@import "../../../../../styles.scss";

.content {
  background: $white-one;

  &__time {
    border-bottom: 0.1rem solid $grey-one;
    padding: 0.5rem 0;
  }

  &__title {
    color: $blue-porple;
  }

  &__description {
    letter-spacing: .011rem;
    margin-bottom: 1.25em;
    box-sizing: border-box;

    @media screen and (min-width: 1024px){
      padding: 1rem 1.5rem;
    }

    &--subtitle {
      font-size: 1.2rem;
    }

    &--content {
      font-size: 1rem;
      padding: .5rem 0;
    }

    &--code {
      background: $white-text;
      width: max-content;
      max-width: 90vw;

      @media screen and (min-width: 1024px){
        width: 50%;
      }
    }

    &--image {

      figcaption {
        font-size: .8rem;
      }
    }
  }

  &__tags {
    gap: .5rem;

    &--item {
      gap: .5rem;
    }
  }
}
