<div class="container-fluid">
    <div class="title">
        <img src="{{getIconInfo()}}" alt="icon image info" srcset="">
        <label class="font-size1-5rem">About me</label>
    </div>

    <div class="text">
        Hello! I'm Lucas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni tenetur, obcaecati molestias, cumque at placeat, vel dolorum esse fuga magnam praesentium error nam ab suscipit deserunt blanditiis cum ratione nisi explicabo perspiciatis porro reiciendis dolores laudantium. Cumque fugiat accusamus blanditiis amet. Nihil suscipit beatae animi fugit amet adipisci, nobis pariatur?
    </div>

    <div class="personal-data">
        <label class="title font-size1-5rem">Personal Details</label>
        <div class="lists">
            <app-personal-data-list></app-personal-data-list>
            <app-list-hobbies></app-list-hobbies>
        </div>
    </div>

</div>