<div class="container-fluid">
    <div class="title">
        <img src="" alt="" srcset="">
        <label class="font-size1-5rem">About me</label>
    </div>

    <div class="text">
        Hello! I'm Lucas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni tenetur, obcaecati molestias, cumque at placeat, vel dolorum esse fuga magnam praesentium error nam ab suscipit deserunt blanditiis cum ratione nisi explicabo perspiciatis porro reiciendis dolores laudantium. Cumque fugiat accusamus blanditiis amet. Nihil suscipit beatae animi fugit amet adipisci, nobis pariatur?
    </div>

    <div class="personal-data">
        <label class="title font-size1-5rem">Personal Details</label>
        
        <div class="data-colums">
            <ul>
                    <li> <strong class="font-green">Birthday</strong></li>
                    01-04-1999

                    <li> <strong class="font-green">Email</strong></li>
                    lucas.jeesus@hotmail.com
                    
                    <li> <strong class="font-green">Website</strong></li>
                    <a class="" href="http://github.io/luccastraumer" target="_blank" rel="noopener noreferrer">www.google.com</a>
                    
                    <li> <strong class="font-green">Address</strong></li>
                    123 London, UK
                    
                    <li> <strong class="font-green">Job Status</strong></li>
                    <span class="bg-green">INTERN</span>
            </ul>
        </div>
    </div>
</div>