.container-fluid {
    height: 100%;
    line-height: 24px;
    letter-spacing: 0.5px;
    justify-content: center;
    background-color: #1e2326;
    overflow: hidden;
    display: block;
}

.title {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.title img {
    width: 20%;
    align-self: center;
}

.text {
    padding: 3%;
}

.personal-data {
    margin-top: 2%;
}

.lists {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    
}

@media only screen and (min-width: 1024px) {
    .lists {
        flex-flow: row wrap;
        padding-left: 0;
    }
}