.container-fluid {
    height: 100%;
    line-height: 24px;
    letter-spacing: 0.5px;
    justify-content: center;
    background-color: #1e2326;
}

.title {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.title img {
    width: fit-content;
    align-self: center;
}

.text {
    padding: 10%;
}

.data-colums ul {
    list-style: none;
    display: grid;
    grid-template-columns: 0.6fr 0.2fr;
    padding: 2%;

}

ul li {
    display: flex;
    position: relative;
    justify-content: flex-start;
}

li strong {
    padding-right: 5%;
}

ul a {
    color: #fff;
}

ul div {
    display: flex;
    
}

span {
    text-align: center;
    width: 6rem;
    border-radius: 5%;
}

@media only screen and (min-width: 768px) {
    .data-colums ul {
        text-align: start;

    }
}