.projetcs {
  display: grid;
  grid-template-columns: 0fr 0fr 0fr;
  column-gap: 2%;
  row-gap: 2%;
  justify-content: center;
}

.image {
  position: relative;
  justify-content: center;
  height: auto;
  border-radius: 10%;
  text-align: center;
}

.image img {
  width: 22rem;
  height: 20rem;
  border-radius: 10%;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(28, 182, 152, 0.60);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  margin-bottom: 4%;
  border-radius: 10%;
  justify-content: center;
  display: flex;
  flex-direction: column;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.image:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.img__description label {
  justify-content: center;
}

body {
margin: 0;
}

h1,
label {
width: 100%;
}

h1 {
  text-align: left;
  animation: right_to_left 3s ease;
}

label {
  text-align: right;
  animation: left_to_right 3s ease;
}

@keyframes right_to_left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0;
  }
}

@keyframes left_to_right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .projetcs {
    display: grid;
    grid-template-columns: 50% 50%;
    flex-direction: column;

  }

  .image {
    padding: 2%;
  }

  .image img {
    width: 13rem;
    height: 12rem;
  }

  .image:hover .img__description {
    padding: 5%;
  }
}

@media only screen and (max-width: 425px) {
  .projetcs {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .img__description {
    right: 3%;
    left: 3%;
    bottom: 1.4%;
    top: 2%;
  }

  .image img {
    width: 28rem;
    height: 27rem;
  }
}

@media (mix-width:1024px) and (max-width: 768px) {
  .img__description {
    right: 13.1%;
    left: 13.1%;
    bottom: 1%;
    top: 2.6%;
  }

  .image img {
    width: 25rem;
    height: 20rem;
  }
}

@media only screen and (max-width: 1024px) {
  .img__description {
    right: 13.1%;
    left: 13.1%;
    bottom: 1%;
    top: 2.6%;
  }

  .image img {
    width: 25rem;
    height: 20rem;
  }
}

@media only screen and (max-width: 768px) {
  .img__description {
    right: 16.3%;
    left: 16.3%;
    bottom: 2%;
    top: 2%;
  }

  .image img {
    width: 20rem;
    height: 18rem;
  }
}


