.mobile, .desktop {
  width: 100%;
  height: 7vh;
  padding: 0;
  margin: 0;
  color: var(--font-color);
  background: var(--bg-contraste);
  position: fixed;

  .header {
    display: flex;
    background: var(--bg-contraste);
    padding: 0 5%;
    width: 100%;
    height: 7vh;
    justify-content: space-between;
    align-items: center;

    .navbar {
      height: 100%;
    }
  }

  a {
    color: var(--font-color);
  }

  div .logo::before {
    content: '<lucas-jesus/>';
    letter-spacing: 10%;
  }
}

@media screen and (min-width: 769px) {
  .mobile {
    visibility: hidden;
  }
}

@media screen and (min-width: 1024px) {
  .mobile {
    visibility: hidden;
  }

  .header {
    align-items: baseline;
    justify-content: space-between;
    padding: 1% 5%;
    font-weight: 600;
  }

  .navbar {
    margin: 0;
  }

  .navbar > :last-child {
    padding-top: 5px;
  }
}

@media screen and (max-width: 768px) {
  .desktop {
    visibility: hidden;
  }

  .mobile, .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 5%;
    font-size: 1.5rem;
    font-weight: 600;

    div .logo::before {
      content: '<LJ>';
      letter-spacing: 10%;
    }

    button {
      background: none;
      z-index: 1;
      position: absolute;
      left: 80%;

      img {
        width: 5vw;
      }

    }

    .cont {
      background: var(--bg-contraste);
      position: absolute;
      z-index: 0;
      overflow-y: hidden;
      max-height: 100vh;
      max-width: 45vw;

      width: 40vw;
      margin-top: 100vh;

      padding: 5%;
    }
  }
}
