<nav class="desktop">
  <section class="header">
    <div>
      <a class="logo" href="#"></a>
    </div>

    <div class="cont" [ngClass]="{'show': menuIsOpen}">
      <ul class="navbar">
        <li class="nav-item active">
          <a class="nav-link" (click)="onClickScroll('home')"> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onClickScroll('about')">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onClickScroll('work')">Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onClickScroll('contact')">Contact</a>
        </li>
        <li class="nav-item">
          <label class="switch">
            <input (click)="toggleDarkTheme()" type="checkbox" checked>
            <span class="slider round"></span>
          </label>
        </li>
      </ul>
    </div>
  </section>
</nav>


<nav class="mobile bg">

  <section class="header">
    <div>
      <a class="logo" href="#"></a>
    </div>

    <button (click)="clickMenu()" class="menu-hamb">
      <img src="{{pathIconMenu}}">
    </button>
  </section>

  <div class="cont" [ngClass]="{'show': menuIsOpen}">
    <ul class="navbar">
      <li class="nav-item active">
        <a class="nav-link" (click)="onClickScroll('home')"> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onClickScroll('about')">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onClickScroll('work')">Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onClickScroll('contact')">Contact</a>
      </li>
      <li class="nav-item">
        <label class="switch">
          <input (click)="toggleDarkTheme()" type="checkbox" checked>
          <span class="slider round"></span>
        </label>
      </li>
    </ul>
  </div>
</nav>
