nav {
  background-color: var(--bg-contraste);

  a {
    color: var(--font-color);
    cursor: pointer;
  }
}

.navbar {
  color: var(--font-color);
  font-weight: bold;
  position: fixed;
  width: 100%;

  li a:hover {
    text-decoration: underline;
  }

  a:active {
    transition: all 1s step-start;
  }
}

@media screen and (max-width: 425px) {
  div .navbar-brand::before {
    content: 'LJ';
    letter-spacing: 10%;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: .5rem 5rem;
    height: 7vh;
  }

  .navbar-nav {
    align-items: baseline;
  }

  .navbar-collapse {
    flex-grow: 0;

  }

  div .navbar-brand::before {
    content: '<lucas-jesus/>';
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--font-color);
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: var(--bg-contraste);
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: var(--first-color);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px var(--first-color);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }


}

