:root {
  --first-color: rgb(26, 166, 139);
  --bg-color: #e4e4e4;
  --bg-contraste: #fff;
  --bg-color-input: var(--bg-color);
  --input-color: #e4e4e4;

  --purple-color: #8873EF;
  --white-color: #fff;
  --yellow-color: rgba(252, 218, 105, 0.7);
  --font-color: #363636;
  --black-color: #000;
}

.cont {
  right: -80%;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  height: 100vh;
}

.show {
  right: 0%;
  transition-timing-function: ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  color: var(--font-color);
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  min-width: 10vw;
  max-height: 100vh;
  min-height: 10vh;
  overflow-x: hidden;
}

.dark-theme {
  background-color: var(--dark-color);
  color: var(--ligth-color);
}

.up-title {
  color: var(--purple-color);
  position: absolute;
}

.title {
  font-weight: 900;
  font-size: 2.5rem;

}
