@import "../../../../styles.scss";

.container {
  max-width: 65.625rem;
  width: 90%;
  z-index: 10;

  @media screen and (max-width: 425px) {
    width: 100%;
  }
}

.nav-container {
  height: rem(62px);
}

.navbar .nav-container a {
  color: $blue-porple;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  height: rem(60px);
}

.nav-container .checkbox {
  top: rem(20px);
  right: rem(20px);
  z-index: 5;
  opacity: 0;
}

.nav-container .hamburger-lines {
  height: rem(26px);
  top: rem(17px);
  right: rem(20px);
  z-index: 2;
}

.nav-container .hamburger-lines .line {
  height: rem(4px);
  border-radius: rem(10px);
  background: $white-text;
  transition: 1s ease;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0 0;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  background: $white-text;
  transform: translate(150%);
  margin-right: rem(-40px);
  transition: transform 0.5s ease-in-out;
  text-align: start;
  padding: 8.5rem 2rem;
}

.menu-items .contact {
  padding: 6rem 0;
  text-align: center;

  .title {
    letter-spacing: rem(2px);
    text-transform: uppercase;
    padding-bottom: 2rem;
    font-weight: normal;
    color: $white-grey;
  }
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  padding-left: 2.5rem;
}

.logo {
  z-index: 200;
  font-size: 1.2rem;
  transition: 1s ease;
  letter-spacing: 0.2rem;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
  background: $blue-porple;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
  background: $blue-porple;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
  background: $blue-porple;
}

.nav-container input[type="checkbox"]:checked ~ .logo {
  color: $blue-porple;
}
