.content {
  height: 100%;
  width: 100%;
  padding: 5%;

  &__head {
    animation-name: zoomIn;
    animation-duration: 1s;
    animation-fill-mode: both;
    padding: 2% 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;

    img {
      vertical-align: middle;
      animation: updown 3s linear infinite;
      width: 100%;
      height: 100%;
    }
  }
}
