.card {
  background-color: #252A2E;
  color: #fff;
  text-align: center;
  border-radius: 5%;
  width: 25rem;
}

.card-body {
  padding-top: 75%;
}

.card-title {
  font-size: 3.5rem;
  letter-spacing: 1px;
}

.card-subtitle {
  color: #fff;
  font-size: 1.2rem;
  font-family: sans-serif, 'Courier New', Courier, monospace;
  font-style: initial;
}

.card app-social-medias-icons {
  padding-bottom: 5%;
}
