<section class="container p-4 border-y-4 border-yellow-500" id="contact">
  <h2 class="py-2 text-xl">Contact</h2>

  <div class="text-yellow-500 grid justify-center gap-2  grid-cols-1 md:grid-cols-2 md:gap-3 lg:grid-cols-3">
    <nav class="flex text-inherit bg-zinc-800 w-64 p-2 rounded items-center">
      <lucide-angular name="mailIcon" class="my-icon bg-inherit"></lucide-angular>
      <p class="mx-2 bg-inherit text-inherit">
        lucassj.dev@gmail.com
      </p>
    </nav>
    <nav class="flex text-inherit w-64 p-2 rounded bg-zinc-800 items-center">
      <lucide-angular name="phoneIcon" class="my-icon bg-inherit"></lucide-angular>
      <p class="mx-2 bg-inherit text-inherit">
        (19) *********
      </p>
    </nav>
    <nav class="flex text-inherit w-64 p-2 rounded bg-zinc-800 items-center">
      <lucide-angular name="mapPinIcon" class="my-icon bg-inherit"></lucide-angular>
      <p class="mx-2 bg-inherit text-inherit">
        Campinas, São Paulo - Brazil
      </p>
    </nav>
  </div>
</section>
