<div class="container-fluid bg-color-grey">
    <div>
        <img class="bg-image" src="{{getBgImage()}}" alt="" srcset="">
    </div>
    <div class="overview">
        <div class="head-contact">
            <img src="" alt="icon contact" srcset="">
            <label class="title">Contact Me</label>
        </div>
    
        <div class="contacting">
            <div class="input-data">
                <input type="text" class="bg-color-grey" placeholder="Your Name">
                <input type="number" class="bg-color-grey " name="phoneNumber" id="" placeholder="Phone Number">
                <input type="email" class="bg-color-grey " name="email" id="" placeholder="Email Address">
                <input type="text" class="bg-color-grey " placeholder="Subject">
                <textarea class="bg-color-grey " name="" id="" cols="30" rows="5" placeholder="Message"></textarea>
                <input type="button" value="" placeholder="Send Message">
            </div>
            <div class="maps">
                <label for="">GOOGLE MAPS HERE</label>
            </div>
        </div>
    </div>
</div>

<a href="https://www.vecteezy.com/free-png/earth" hidden>Earth PNGs by Vecteezy</a>