<div class="container-fluid bg-color-grey">
    <div class="back-image">
        <img class="bg-image" src="{{getBgImage()}}" alt="" srcset="">
    </div>
    <div class="overview">
        <div class="head-contact">
            <img src="{{getIconContact()}}" class="icon" alt="icon contact" srcset="">
            <label class="title">Contact Me</label>
        </div>
    
        <div class="contacting">
            <div class="input">
                <app-input-data></app-input-data>
            </div>
            <div class="maps">
                <app-maps></app-maps>
            </div>
        </div>
    </div>
</div>

<a href="https://www.vecteezy.com/free-png/earth" hidden>Earth PNGs by Vecteezy</a>