.container-fluid {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.overview {
    position: relative;
    z-index: 1;
}

.bg-image{
    position: absolute;
    z-index: 0;
    padding: 2%;
    width: 100%;
    transform: scale(1.5); 
}

.head-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contacting {
    display: flex;
    padding: 2%;
    justify-content: space-evenly;
    width: 100%;
}

.contacting .input-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    width: 50%;
}

.input-data input, .input-data textarea {
    color: #fff;
    padding: 2%;
    margin: 2%;
    border-radius: 5%;
    border: none;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.input-data input {
    height: 4rem;
}

.input-data input::placeholder,.input-data textarea::placeholder {
    color: #fff;
    opacity: 1;
    font-weight: lighter;
    padding: 5%;
}

.contacting .maps {
    width: 50%;
}