<div class="container-fluid w3-container w3-center w3-animate-bottom">
  <div class="title">
      <img [src]="getIconInfo()" alt="icon image info">
      <label class="font-size1-5rem">About me</label>
  </div>

  <div class="text">
      <span class="font-green">Hello! I'm Lucas.</span> IT Student and monitor at the Technical High School of Campinas. <a [href]="getLinkPageCotuca()" target="_blank" class="font-white">@cotuca</a> and Software Engineer Intern at <a [href]="getLinkPageCiandt()" target="_blank" class="font-white">@ciandt</a>.
      I have a little experiencia with angular 8 and Spring boot. I like sou much what a do but in parallel I have studying about develop mobile native but don't have experience professional yet but is a thing who I want learn more Android and IOS native. I have a lucky to had greate professionals close to me in my job and this make easily the things to me. So thanks every one.
  </div>

  <div class="personal-data">
    <div class="lists">
      <section>
        <h3 class="title font-size1-5rem">Personal Details</h3>
        <personal-data-list></personal-data-list>
      </section>

      <section>
        <h3 class="title font-size1-5rem">My Interests</h3>
        <list-hobbies></list-hobbies>
      </section>

    </div>
  </div>


  <button disabled>
    Download CV
  </button>



</div>
