<section class="content">
  <h2 class="content__title">Articles</h2>

  <ul class="content__list">
    <li class="content__list__item" *ngFor="let item of listArticle">
      <a (click)="redirectToArticle(item.linkPost)">
        <article class="">
          <time class="content__list__item--date">
            {{ item.date | date:'medium' }}
          </time>

          <h3 class="content__list__item--title">
            {{ item.title }}
          </h3>

          <p class="content__list__item--description">
            {{ getDescription(item) }}
          </p>
        </article>
      </a>
    </li>
  </ul>
</section>
