.content {
  align-items: center;
  display: inline-flex;
  font-size: 1.5rem;
  justify-content: space-around;
  max-width: 85%;
  padding: 5% 0;
  width: 100%;

  .logo {
    margin: 0;
    width: 50%;
  }

  .logo::before {
    content: '<';
  }

  .logo::after {
    content: '>';
  }

  img {
    width: 10%;
  }
}

.desktop {
  display: none;
}

@media screen and (min-width: 768px){
  .mobile {
    display: none;
  }

  .content {
    max-width: 100%;
    width: 100%;
  }

  .desktop {
    display: inline-flex;
    font-size: 1.8rem;
  }

  .logo {
    width: content-box;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .input {
    align-items: center;
    display: flex;
    position: relative;
    width: 20%;

    input {
      border-radius: 10px;
      padding: 5%;
      width: 100%;
    }

    img {
      position: absolute;
      right: 15%;
      width: 15%;
    }
  }
}
