<header
  class="content mobile"
>

  <p class="logo">
    LT
  </p>
  <img
    src="{{ getManuHamburguer() }}"
    alt="Menu Hamburguer"
    (click)="mudarEstadoMenuHamburguer()"
  >

  <div
    class="cont"
   [ngClass] = "{'show': menuEstaAberto()}"
  >
    <app-hamburguer-menu
      (fecharMenu)="mudarEstadoMenuHamburguer()"
    ></app-hamburguer-menu>
  </div>
</header>

<header class="content desktop">
  <p (click)="onClickScroll('introduce')">
    LT
  </p>

  <nav>
    <ul>
      <li (click)="onClickScroll('skills')">
        Skills
      </li>
      <li (click)="onClickScroll('projects')">
        Portfolio
      </li>
      <li (click)="onClickScroll('contact')">
        Contact
      </li>
    </ul>
  </nav>

  <div class="input">
    <input type="search" placeholder="Search" name="" id="">
    <img src="{{ CONSTANTES.SEARCH_ICON }}" alt="">
  </div>
</header>
