<header class="content mobile">
  <p class="logo">
    LT
  </p>
  <img
    src="{{ getManuHamburguer() }}"
    alt="Menu Hamburguer"
    (click)="mudarEstadoMenuHamburguer()"
  >
</header>

<header class="content desktop">
  <p>
    LT
  </p>

  <nav>
    <ul>
      <li>
        About
      </li>
      <li>
        Service
      </li>
      <li>
        Portfolio
      </li>
    </ul>
  </nav>

  <div class="input">
    <input type="search" placeholder="Search" name="" id="">
    <img src="{{ CONSTANTES.SEARCH_ICON }}" alt="">
  </div>
</header>
