<header class="content mobile">
  <div class="informacoes">
    <div class="informacoes__quadrado"></div>
    <h3 class="informacoes__titulo">
      Lucas Jesus
    </h3>

    <p class="informacoes__subtitulo">
      Software Developer
    </p>
  </div>

  <div class="menu-hamburguer">
    <div class="menu-hamburguer__first-line"></div>
    <div class="menu-hamburguer__second-line"></div>
    <div class="menu-hamburguer__third-line"></div>
  </div>
</header>

<header class="content desktop">
  <div class="informacoes">
    <div class="informacoes__quadrado"></div>
    <h3 class="informacoes__titulo">
      Lucas Jesus
    </h3>

    <p class="informacoes__subtitulo">
      Software Developer
    </p>
  </div>

  <nav class="menu">
    <ul class="lista">
      <li class="lista__item">About me</li>
      <li class="lista__item">Resume</li>
      <li class="lista__item">Projects</li>
      <li class="lista__item">Contact</li>
    </ul>
  </nav>
</header>
