.content {
  padding: 5%;
  display: flex;
  justify-content: space-between;

  .informacoes {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    align-items: center;
    text-align: center;

    &__titulo {
      font-weight: bold;
      margin: 0 0 0 3%;
      font-size: 1.5rem;
    }

    &__quadrado {
      content: "";
      background: var(--azul);
      width: 5vw;
      height: 1vh;
    }
  }

  .menu-hamburguer {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 2vh;
    margin: 2% 0 0 0;

    &__first-line {
      width: 40%;
      align-self: flex-start;
      color: var(--azul);
    }

    &__second-line {
      width: 100%;
      align-self: center;
      color: var(--azul);
    }

    &__third-line {
      width: 40%;
      align-self: flex-end;
    }
  }

  .menu-hamburguer > * {
    height: 3px;
    background: var(--azul);
  }
}

.desktop {
  display: none;
  visibility: hidden;
}

@media screen and (min-width: 767px){
  .content {

    .informacoes {

      &__titulo:after {
        content: " / ";
        white-space: break-spaces;
      }

      &__subtitulo {
        margin: 0;
        font-size: 1.2rem;
      }

      &__quadrado {
        content: "";
        background: var(--azul);
        width: 2vw;
        height: 1vh;
      }
    }

    .menu-hamburguer {
      width: 5%;
    }
  }
}

@media screen and (min-width: 1024px){
  .mobile {
    display: none;
    visibility: hidden;
  }

  .desktop {
    align-items: center;
    display: flex;
    visibility: visible;

    .informacoes {
      display: flex;
      flex-wrap: wrap;
      width: 50%;
      align-items: center;
      text-align: center;

      &__titulo {
        font-weight: bold;
        margin: 0 0 0 3%;
        font-size: 1.5rem;
      }

      &__quadrado {
        content: "";
        background: var(--azul);
        width: 1.5vw;
        height: 0.9vh;
      }
    }

    .menu {
      width: 50%;

      .lista {
        display: flex;
        justify-content: space-around;
        text-align: center;
        margin: 0;

        &__item {
          list-style: none;
          text-transform: uppercase;
        }

        &__item:hover {
          color: var(--azul);
        }
      }
    }
  }
}
