<section class="container-fluid">

  <header>
    <h1>Contact</h1>
  </header>

  <main class="content">
    <nav>
      <article class="top">
        <section class="name">
          <input type="text" placeholder="Your Name">
        </section>

        <section class="email">
          <input type="email" name="" id="" placeholder="Your e-mail">
        </section>

      </article>

      <section>
        <textarea rows="10" placeholder="Your Message"></textarea>
      </section>

    </nav>
    <section class="button">
      <button-template [redirectLink]="''" [insideText]="'Send'"></button-template>
    </section>
  </main>
</section>
