<nav class="container-fluid">
  <h1>Contact</h1>

  <section class="content">
    <article class="top">
      <section class="email">
        <label>E-mail</label>
        <input type="email" name="" id="" placeholder="Your e-mail">
      </section>

      <section class="name">
        <label>Name</label>
        <input type="text" placeholder="Your Name">
      </section>
    </article>
    <section class="message">
      <label>Message</label>
      <textarea name="" id="" cols="10" rows="8" placeholder="Your Message"></textarea>
    </section>
    <section class="button">
      <button-template [redirectLink]="''" [insideText]="'Send'"></button-template>
    </section>
  </section>
</nav>
