.quadrado {
  content: "";
  background: var(--azul);
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 767px){
  .quadrado {
    width: 2vw;
    height: 1vh;
  }
}

@media screen and (min-width: 1024px){
  .quadrado {
    width: 1.5vw;
    height: 0.9vh;
  }
}
