<div class="content">
  <h3 class="content__title"> Projects </h3>

  <p class="content__description"> A little bit of some projects that I have working or am finishing</p>

  <nav class="content__tablist">
    <div
      class="content__tablist--item-1"
    >
      <label>Tab 1</label>
    </div>
    <div class="content__tablist--item-2">
      <label>Tab 2</label>
    </div>
    <div class="content__tablist--item-3">
      <label>Tab 3</label>
    </div>
  </nav>

  <ul class="content__projects">
    <li class="content__projects--item">
      <img src="{{ CONSTANTES.LANDING_PAGE_IMAGE }}" alt="Imagem Projeto">
      <div class="over">
        <h3>Landing Page</h3>
        <p>Development</p>
      </div>
    </li>
    <li class="content__projects--item">
      <img src="{{ CONSTANTES.CARD_IMAGE }}" alt="Imagem Projeto">
      <div class="over">
        <h3>Landing Page</h3>
        <p>Development</p>
      </div>
    </li>
    <li class="content__projects--item">
      <img src="{{ CONSTANTES.PERSONAL_PAGE }}" alt="Imagem Projeto">
      <div class="over">
        <h3>Landing Page</h3>
        <p>Development</p>
      </div>
    </li>
    <li class="content__projects--item">
      <img src="{{ CONSTANTES.ECOMMERC_PAGE }}" alt="Imagem Projeto">
      <div class="over">
        <h3>Landing Page</h3>
        <p>Development</p>
      </div>
    </li>
  </ul>
</div>
