<div class="container-fluid">
  <div class="name">
    <label>Lucas Jesus</label>
  </div>
  <div class="social-medias">
    <social-media [isDarkModeOn] = isDarkMode [inputSocialMedia]="'instagram'"></social-media>
    <social-media [isDarkModeOn] = isDarkMode [inputSocialMedia]="'linkedin'"></social-media>
    <social-media [isDarkModeOn] = isDarkMode [inputSocialMedia]="'github'"></social-media>
    <social-media [isDarkModeOn] = isDarkMode [inputSocialMedia]="'email'"></social-media>
  </div>
  <div class="credit">
    {{year}}; Made with love by Lucas Jesus.
  </div>
</div>
