<footer class="container-fluid">
  <section class="name">
    <label>Lucas Jesus</label>
  </section>
  <article class="social-medias">
    <social-media [isDarkModeOn] = isDarkMode [inputSocialMedia]="'instagram'"></social-media>
    <social-media [isDarkModeOn] = isDarkMode [inputSocialMedia]="'linkedin'"></social-media>
    <social-media [isDarkModeOn] = isDarkMode [inputSocialMedia]="'github'"></social-media>
    <social-media [isDarkModeOn] = isDarkMode [inputSocialMedia]="'email'"></social-media>
  </article>
  <article class="credit">
    {{year}}; Made with love by Lucas Jesus.
  </article>
</footer>
