<span class="tagline">
          Welcome to my Portfolio
</span>
<h1>
  Hi! I'm Lucas <br>
  <span class="animate__animated animate__bounceInDown" >
  </span>

  <span class="typed-element wrap" #wrap></span>
</h1>
<p class="description">
  I have experience in the most varied projects, whether large or small companies, I always try to do my best and serve in the best way, count on me for a work with excellence and quality for your projects.
</p>
<a href="#contact" class="conect">
  Let's Connect
  <img src="{{ CONSTANTES.SETA_ICON }}" alt="Icone conectar">
</a>
