@import "../../../../../styles.scss";

.content {
  background: $white-one;

  &__title {
    color: $grey-one;
    text-align: center;

    &:before {
      content: "/";
      opacity: 50%;
    }

    @media screen and (min-width: 768px) {
      visibility: visible;
      display: block;
    }
  }

  &__list {
    &__item {
      &--date {
        letter-spacing: 0.011rem;
        font-size: 0.8em;
        margin-bottom: 1rem;
        opacity: 0.8;
        color: $grey-one;
      }

      &--title {
        color: $grey-one;
        font-size: 1.6rem;
      }

      &--description {
        letter-spacing: 0.011rem;
        font-size: 0.9em;
        margin-top: 1rem;
      }

      @media screen and (min-width: 460px) {
        border-bottom: 0.01rem solid $grey-one;
        padding: 1.3rem 0;
      }
    }
  }
}
