<nav class="mx-auto flex items-center justify-between p-6 lg:px-8" aria-label="Global">
  <div class="flex lg:flex-1">
    <a href="#" class="-m-1.5 p-1.5">
      <span class="sr-only">Your Company</span>
      <img
        class="h-20 w-auto"
        src="https://res.cloudinary.com/dfixlnbhd/image/upload/c_fill,h_100,w_50/LOGO_ycaeq7?_a=AKFJtDW0"
        alt="Logo Luccas Traumer"
      >
      <!--        <advanced-image class="h-8 w-auto" [cldImg]="myImage"></advanced-image>-->
    </a>
  </div>

  <div class="hidden lg:flex lg:gap-x-12">
    <a href="#" class="text-sm font-semibold leading-6 text-white-900">About</a>
    <a href="#" class="text-sm font-semibold leading-6 text-white-900">Portfolio</a>
    <a href="#" class="text-sm font-semibold leading-6 text-white-900">Contact</a>
  </div>
</nav>
