a {
  text-decoration: none;
}

.content {
  background: white;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: -10px 10px 15px -15px #000000;
  box-shadow: -10px 10px 15px -15px #000000;
  margin-bottom: 5%;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  overflow: hidden;
  transition: all 10s ease-in-out;
  border: none;


  app-quadrado {
    background: var(--azul);
    height: 13%;
    width: 5%;
    display: flex;
    position: absolute;
    left: 0;
    top: 2%;
  }

  .title {
    margin-left: 15%;

    .titulo {
      padding-top: 10%;
      color: var(--azul);
      font-weight: bold;
      font-size: 1rem;
      margin: 0;
    }

    .cargo {
      font-weight: bold;
    }
  }

  .descricao {
    padding: 10%;
    color:rgba(0,0,0,1);
  }

  figure {
    img {
      width: 100%;
    }
  }
}

.content:hover {
  border: 2px solid var(--azul);
}

@media screen and (min-width: 1024px){
  .content {
    height: 25vh;
    padding: 10%;

    app-quadrado {
      top: 15%;
      width: 2%;
    }

    .title {
      padding: 5% 0;
      margin-left: 5%;
    }

    .descricao {
      padding: 5%;
      width: 50%;
    }

    figure {
      height: 100%;
      margin: 0;
      overflow: hidden;

      img {
        height: inherit;
      }
    }
  }

  .content:last-child {
    padding: 0;
  }
}

@media screen and (min-width: 1440px) {
  .content {
    height: 40vh;

    app-quadrado {
      top: 30%;
      width: 1%;
    }
  }
}
