.container-fluid {
  display: flex;
  padding: 2%;
  margin: 2%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--font-color);

  .cards-repositorys {
    display: flex;
    flex-wrap: wrap;
    padding: inherit;
    margin: inherit;
    max-width: 100%;
    overflow: hidden;
    height: inherit;
    gap: 1.5%;
    justify-content: space-between;

    card-project {
      display: block;
      flex: 1;
    }
  }

  header {
    width: 100%;
    text-align: center;
    word-wrap: unset;
  }
}

@media screen and (max-width: 1024px) {
  .container-fluid {
    padding: 5%;


    .cards-repositorys {
      align-items: center;
      padding: 0%;
      margin: 0%;
      height: 100%;
    }

    .cards-repositorys *:last-child *:last-child {
      flex-grow: 2;

    }
  }
}

@media screen and (min-width: 768px) {
  .container-fluid {
    width: 100vw;
    height: 100vh;


    h1 {
      margin: 2%;
    }

    .cards-repositorys {
      width: 90%;
      justify-content: space-between;
      flex-grow: 1;
    }
  }
}

@media screen and (max-width: 767px) {
  .container-fluid {
    margin: 0%;
    width: 100vw;
    height: max-content;


  .cards-repositorys {
    width: max-content;
    max-height: 90%;
    height: 85%;
  }
}
}
