@media screen and (max-width: 1024px) {
  .container-fluid {
    padding: 5%;
    margin: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .cards-repositorys {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 3em;
      padding: 5%;
      overflow-x: hidden;
    }
  }
}

@media screen and (min-width: 1025px) {
  .container-fluid {
    padding: 2%;
    margin: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: max-content;


    .cards-repositorys {
      display: grid;
      grid-template-columns: repeat(3, 30vw);
      max-width: max-content;
      height: 50vh;
      gap: 2% 0%;
      overflow: hidden;
    }
  }
}
