<div class="content">
  <img
    src="{{ CONSTANTES.CONTACT_IMAGE }}"
    alt="Imagem de Fundo" class="content__image"
    #imagem
    [ngClass]="!desaparecerImagem() ? 'animate__animated animate__fadeIn' : ''"
  >

  <h3 class="content__title">
    get in touch
  </h3>

  <form formGroup="formGroup" class="content__form">
    <label>name</label>
    <input formControlName="name" type="text" placeholder="Name">

    <label>last name</label>
    <input formControlName="lastName" type="text" placeholder="Last Name">

    <label>email</label>
    <input formControlName="email" type="text" placeholder="Email">

    <label>phone no.</label>
    <input formControlName="phone" type="tel" pattern="[789][0-9]{9}" placeholder="Phone No.">

    <label>message</label>
    <textarea formControlName="message" placeholder="Message">
    </textarea>

    <button type="submit" class="content__form--button" (click)="send()">send</button>
  </form>
</div>
