<div class="content">
  <img
    src="{{ CONSTANTES.CONTACT_IMAGE }}"
    alt="Imagem de Fundo" class="content__image"
    #imagem
    [ngClass]="!desaparecerImagem() ? 'animate__animated animate__fadeIn' : ''"
  >

  <h3 class="content__title">
    get in touch
  </h3>

  <form formGroup="formGroup" class="content__form">
    <label class="content__form--name">name</label>
    <input class="content__form--name" formControlName="name" type="text" placeholder="Name">

    <label class="content__form--last-name">last name</label>
    <input class="content__form--last-name" formControlName="lastName" type="text" placeholder="Last Name">

    <label class="content__form--email">email</label>
    <input class="content__form--email" formControlName="email" type="text" placeholder="Email">

    <label class="content__form--phone">phone no.</label>
    <input class="content__form--phone" formControlName="phone" type="tel" pattern="[789][0-9]{9}" placeholder="Phone No.">

    <label class="content__form--message">message</label>
    <textarea class="content__form--message" formControlName="message" placeholder="Message">
    </textarea>

    <button type="submit" class="content__form--button" (click)="send()">send</button>
  </form>
</div>
