<div class="content">
  <img src="{{ CONSTANTES.CONTACT_IMAGE }}" alt="Imagem de Fundo" class="content__image">

  <h3 class="content__title">
    get in touch
  </h3>

  <form action="" method="post" class="content__form">
    <label>name</label>
    <input type="text" class="" placeholder="Name">

    <label>last name</label>
    <input type="text" class="" placeholder="Last Name">

    <label>email</label>
    <input type="text" class="" placeholder="Email">

    <label>phone no.</label>
    <input type="tel" class="" placeholder="Phone No.">

    <label>message</label>
    <textarea class="" placeholder="Message">
    </textarea>

    <button type="submit" class="content__form--button">send</button>
  </form>
</div>
