.content {
  background: linear-gradient(90.21deg,#aa367c -5.91%,#4a2fbd 111.58%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 60px 0 200px;

  &__image {
    width: 80%;
  }

  &__title {
    padding: 5%;
  }

  &__form {
    display: inherit;
    flex-direction: inherit;
    align-items: start;
    border: none;
    width: 95%;

    label {
      background: none;
      margin-top: 2%;
    }

    input, textarea {
      border: 1px solid hsla(0,0%,100%,.5);
      background: hsla(0,0%,100%,.1);
      padding: 5%;
      width: 89%;
      border-radius: 10px;
      margin-top: 2%;
      font-size: 1.2rem;
      transition: .3s ease-in-out;
    }

    input:focus, textarea:focus {
      background: #fff;
      color: #000;
    }

    input::placeholder, textarea::placeholder {
      color: inherit;
    }

    &--button {
      background: #fff;
      padding: 5%;
      font-size: 1.4rem;
      color: #000;
      border: none;
      margin-top: 5%;
      font-weight: 600;
      text-transform: capitalize;
      width: 50%;
    }
  }
}

.content > * {
  background: none;
  text-transform: capitalize;
}

@media screen and (min-width: 700px) {
  .content {
    display: grid;
    grid-template-areas:
      "imagem titulo"
        "imagem form";
    grid-gap: 0;
    padding: 5% 0;

    &__title {
      grid-area: titulo;
      font-size: 2rem;
    }

    &__image {
      grid-area: imagem;
      width: 70%;
    }

    &__form {

      label {
        visibility: hidden;
      }
      grid-area: form;
      display: grid;
      grid-template-areas:
        "firstName lastName"
        "email phone"
        "message message"
        "button bu";
      padding: 1rem;
      grid-gap: 2%;

      &--name {
        grid-area: firstName;
      }

      &--last-name {
        grid-area: lastName;
      }

      &--email {
        grid-area: email;
      }

      &--phone {
        grid-area: phone;
      }

      &--message {
        grid-area: message;
      }

      &--button {
        grid-area: button;
      }
    }
  }
}
