.content {
  background: var(--white-color);
  padding: 15% 7%;
  position: relative;

  .right {
    display: none;
  }

  .up-title {
    left: -1%;
    top: 7%;
    transform: rotate(-35deg);
  }

  .titulo {
    margin: 10% 0;
  }

  .descricao {
    letter-spacing: 0;
    margin: 10% 0;

    p {
      margin: 0;
    }

    p:nth-child(2):before {
      content: '__';
    }
  }

  .contatos {
    display: flex;
    flex-flow: column wrap;

    .link {
      align-items: center;
      border-radius: 20px;
      display: inherit;
      justify-content: center;
      list-style: none;
      margin: 5% auto;
      padding: 2% 5%;
      text-decoration: none;

      .button {
        background: inherit;
        font-weight: 500;
        letter-spacing: 2px;
        transition: all 0.5s ease-in-out;
      }

      img {
        margin-left: 5%;
        width: 20%;
      }
    }
  }
  .contatos > a:first-child {
    background: var(--purple-color);

    input {
      color: var(--white-color);
    }

    img {
      width: 20%;
    }
  }

  .contatos > a:first-child:hover {
      background: #6042f3;
  }

  .contatos > a:last-child:hover {
      background: var(--bg-color);
  }

  .redes-sociais {
    align-items: center;
    display: inline-flex;
    margin: 5% 0;

    ul {
      display: inherit;
      text-align: center;

      li {
        a {
          img {
            width: 60%;
            transition: all 0.5s ease-in-out;
          }
          img:hover {
            background: var(--yellow-color);
            border-radius: 50%;
            width: 65%;
          }
        }
      }

    }
  }
}

@media screen and (min-width: 768px) {
  .content {
    display: inline-flex;
    width: 100%;

    .left {
      .up-title {
        left: 0;
        top: 17%;
      }
    }

    .right {
      display: inline-block;
      margin: auto;
      position: relative;
      text-align: center;

      p {
        display: flex;
        font-size: 1.1rem;
        font-weight: 900;
        text-align: start;
        padding-left: 55%;
        position: absolute;
        top: -8%;
      }

      img {
        width: 80%;
      }

      .hexagon {
        background-color: var(--yellow-color);
        content: '';
        width: 17vw;
        height: 17.7vh;
        position: absolute;
        top: 25vh;
        border-radius: 10px;
        box-sizing: border-box;
        transition: all 1s;
        border: 0.4vh solid transparent;
        left: 40%;
      }

      /* Creating pseudo-class */
      .hexagon:before, .hexagon:after {
        content: "";
        height: 100.5%;
        width: 106.7%;
        position: absolute;
        top: -0.1vh;
        left: -0.6vh;
        background-color: var(--yellow-color);
        border-radius: inherit;
        border: inherit;
      }

      .hexagon:before {
        transform: rotate(60deg);
      }
      .hexagon:after {
        transform: rotate(-60deg);

      }
    }
  }
}

@media screen and (min-width: 1024px){
  .content {
    .up-title {
      left: 3%;
      top: 25%;
    }
  }
}
