<section class="content">
  <div class="left">
    <p class="up-title">
      Hello World!
    </p>
    <h2 class="titulo">
      We developer
      Experience
    </h2>

    <section class="descricao">
      <p>
        Hi I’m a Software Developer
      </p>
      <p>
        creating & developer website, pages and systems all across the world.
      </p>
    </section>

    <nav class="contatos">
      <a
        class="link"
        href=""
      >
        <input
          class="button send-message"
          type="button"
          value="Let’s talk"
        >
        <img
          src="{{ CONSTANTES.PATH_ICONE_ENVIAR_MENSAGEM }}"
          alt="Icon enviar mensagem"
        >
      </a>
      <a
        class="link"
        href=""
      >
        <input
          class="button portfolio"
          type="button"
          value="Portfolio"
        >
        <img
          src="{{ CONSTANTES.PATH_ICONE_ARROW }}"
          alt="Icone Arrow Portfolio"
        >
      </a>
    </nav>

    <nav class="redes-sociais">
      Social Medias
      <ul>
        <li
          *ngFor="let rede of redeSociais"
          class="item-rede-social">
          <a
            target="_blank"
            href="{{ rede.linkRedeSocial }}">
            <img
              src="{{ rede.pathImage }}"
              alt="{{ rede.altRedeSocial }}"
            >
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="right">
    <p>
      “People ignore quality
      that ignore the cust”
    </p>

    <div
      class="hexagon"
     id="hexagon"
    >
      <img
        src="{{ CONSTANTES.IMAGEM_ABOUT }}"
        alt="Minha imagem"
      >
    </div>
  </div>
</section>
