.content {
  @media screen and (min-width: 768px){
    display: flex;
    align-items: center;

  }
  &__article {

    &--title {
      padding-bottom: 0.7rem;
    }

    &--text {
      font-size: 0.8rem;
    }

    &:first-child {
      padding: 0 0 2rem 0;
      svg {
        width: 100%;
        visibility: hidden;
        display: none;
      }

      @media screen and (min-width: 768px){
        padding: 0;

        svg {
          display: block;
          visibility: visible;
          width: 90%;
          height: auto;
        }
      }

      @media screen and (min-width: 1024px){
        svg {
          width: 40%;
          margin-left: 40%;
          height: auto;
        }
      }
    }

    &:last-child {
      padding: 2rem 0 0 0;

      svg {
        width: 100%;
        visibility: hidden;
        display: none;
      }

      @media screen and (min-width: 768px){
        padding: 0;
        svg {
          visibility: visible;
          width: 100%;
          height: auto;
          display: block;

        }
      }

      @media screen and (min-width: 1024px){
        svg {
          width: 40%;
          margin-left: 40%;
          height: auto;
        }
      }
    }
  }
}
