/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

img {
  image-rendering: pixelated;
}

html {
  overflow-x: hidden;
}

body {
  color: #000;
  background-color: #4831d4;
  overflow-x: hidden;
}

body .loading {
  display: flex;
  width: inherit;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: none;
}

.contrast-text {
  color: #fff;
}

.green-color {
  color: #ccf381;
}

.white-text {
  color: #fff;
}

.blue-porple-text {
  color: #4831d4;
}

.purple-text {
  color: #3d155f;
}

.bg-green {
  background: #ccf381;
}

.bg-white {
  background: #fff;
}

.bg-blue-porple {
  background: #4831d4;
}

.content {
  max-width: 100vw;
}
@media screen and (min-width: 1024px) {
  .content {
    height: 100vh;
  }
}

.title {
  font-size: 1.7rem;
  line-height: 1.3;
  letter-spacing: -0.03em;
}

.description {
  font-size: 0.9em;
  letter-spacing: 0.01em;
  padding: 1rem 0 2rem 0;
}

.text-danger {
  color: red;
}

.content {
  background: #F9F9F9;
}
.content__body, .content__aside {
  background: #f5f4fc;
}
@media screen and (min-width: 768px) {
  .content__body, .content__aside {
    column-gap: 5rem;
    display: grid;
    grid-template-areas: "presentation main" "techs experience" "techs experience" "others experience" "others experience";
  }
}
.content__body__presentation, .content__aside__presentation {
  grid-area: presentation;
}
@media screen and (min-width: 768px) {
  .content__body__presentation, .content__aside__presentation {
    display: block;
    height: auto;
    visibility: visible;
  }
  .content__body__presentation--webpage, .content__body__presentation--email, .content__aside__presentation--webpage, .content__aside__presentation--email {
    color: #4831d4;
    font-weight: bolder;
    position: relative;
    z-index: 0;
  }
  .content__body__presentation--webpage::after, .content__body__presentation--email::after, .content__aside__presentation--webpage::after, .content__aside__presentation--email::after {
    background: #ccf381;
    content: "";
    height: 0.4em;
    width: 100%;
    display: block;
    margin-top: -0.6rem;
    margin-left: -4%;
    position: absolute;
    z-index: -1;
  }
}
.content__body__techs, .content__aside__techs {
  grid-area: techs;
}
.content__body__others-techs, .content__aside__others-techs {
  grid-area: others;
}
.content__body__techs, .content__body__others-techs, .content__aside__techs, .content__aside__others-techs {
  padding: 1rem 0;
}
.content__body__techs--title, .content__body__others-techs--title, .content__aside__techs--title, .content__aside__others-techs--title {
  font-size: 1.2rem;
  color: #4831d4;
}
.content__body__techs--title::after, .content__body__others-techs--title::after, .content__aside__techs--title::after, .content__aside__others-techs--title::after {
  background: #ccf381;
  content: "";
  height: 0.4em;
  width: 100%;
  display: block;
  margin-top: -0.6rem;
  margin-left: -4%;
  position: absolute;
  z-index: -1;
}
.content__body__techs__list, .content__body__others-techs__list, .content__aside__techs__list, .content__aside__others-techs__list {
  list-style: square;
  padding: 0 1.2rem;
}
.content__body__welcome--title, .content__aside__welcome--title {
  text-align: start;
  color: #4831d4;
  letter-spacing: 5px;
  font-size: 2rem;
  padding: 0.5rem 0;
}
.content__body__welcome--subtitle, .content__aside__welcome--subtitle {
  padding: 0 0 1rem 0;
  font-size: 1.2rem;
}
.content__body__exp--title, .content__aside__exp--title {
  text-align: start;
  color: #4831d4;
  padding: 0.5rem 0;
  font-size: 1.2rem;
}
.content__body__exp__works--work--title, .content__aside__exp__works--work--title {
  color: #4831d4;
}
@media screen and (min-width: 768px) {
  .content__body__exp__works--work--title, .content__aside__exp__works--work--title {
    display: flex;
    align-items: center;
  }
}
.content__body__exp__works--work--title--desc, .content__aside__exp__works--work--title--desc {
  color: black;
}
.content__body__exp__works--work--title--desc:before, .content__aside__exp__works--work--title--desc:before {
  display: none;
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .content__body__exp__works--work--title--desc:before, .content__aside__exp__works--work--title--desc:before {
    display: inherit;
    visibility: visible;
  }
}
.content__body__exp__works--work--description, .content__aside__exp__works--work--description {
  padding: 0.5rem 0;
}
.content__body__exp__works--work--description :first-child, .content__aside__exp__works--work--description :first-child {
  width: 75%;
}
.content__body__exp__works--work--description :last-child, .content__aside__exp__works--work--description :last-child {
  text-align: center;
  align-self: center;
}
.content__aside {
  display: contents;
}

/*# sourceMappingURL=new-resume.component.css.map */
