<div class="data-colums">
    <ul>
            <li> <strong class="font-green">Birthday</strong></li>
            01-04-1999

            <li> <strong class="font-green">Email</strong></li>
            lucas.jeesus@hotmail.com
            
            <li> <strong class="font-green">Website</strong></li>
            <a class="" href="https://luccastraumer.github.io" target="_blank" rel="noopener noreferrer">https://luccastraumer.github.io</a>
            
            <li> <strong class="font-green">Address</strong></li>
            123 London, UK
            
            <li> <strong class="font-green">Job Status</strong></li>
            <span class="bg-green contant">INTERN</span>
    </ul>
</div>