<div class="container-fluid bg-color-grey">
  <div class="back-image w3-animate-left">
      <img class="bg-image" [src]="getBackgroundImage()" alt="" srcset="">
  </div>
  <div class="overview">
      <div class="head-contact w3-animate-top">
          <img [src]="getIconContact()" class="icon" alt="icon contact" srcset="">
          <label class="title">Contact Me</label>
      </div>

      <div class="contacting">
          <div class="input">
              <input-data></input-data>
          </div>
          <div class="maps w3-animate-right">
              <app-maps></app-maps>
          </div>
      </div>
  </div>
</div>

<a href="https://www.vecteezy.com/free-png/earth" hidden>Earth PNGs by Vecteezy</a>
