.input-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

.input-data input, .input-data textarea {
    color: #fff;
    padding: 2%;
    margin: 2%;
    border-radius: 5%;
    border: none;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.input-data input {
    height: 4rem;
}

.input-data input::placeholder,.input-data textarea::placeholder {
    color: #fff;
    opacity: 1;
    font-weight: lighter;
    padding: 5%;
}

.button {
    position: relative;
    display: inline-block;
    padding: .8em 4em;
    border: 2px solid #fff;
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    transition: .3s;
    width: 50%;
}

.button::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: '';
    background: #1CB698;
    transition: transform .3s;
}

.button:hover {
    color: #fff;
}

.button01::before {
    transform-origin: right top;
    transform: scale(0, 1);
}

.button01:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
}