<div class="input-data">
    <input type="text" class="bg-color-grey" placeholder="Your Name">
    <input type="number" class="bg-color-grey " name="phoneNumber" id="" placeholder="Phone Number">
    <input type="email" class="bg-color-grey " name="email" id="" placeholder="Email Address">
    <input type="text" class="bg-color-grey " placeholder="Subject">
    <textarea class="bg-color-grey " name="" id="" cols="30" rows="5" placeholder="Message"></textarea>
    <button type="submit">Send Message</button>
</div>