<div class="timeline" *ngFor="let section of timelineHistory">

  <h2 class="timeline__item timeline__item--year" [hidden]="section.year % 2 == 0">{{ section.year }}</h2>

  <div class="timeline__item" [hidden]="section.year % 2 == 0">
    <h3 class="timeline__title">{{ section.title }}</h3>
    <p class="timeline__blurb">{{ section.description }}</p>
  </div>

 <h2 class="timeline__item timeline__item--year" [hidden]="section.year % 2 !== 0">{{ section.year }}</h2>

  <div class="timeline__item" [hidden]="section.year % 2 !== 0">
    <h3 class="timeline__title">{{ section.title }}</h3>
    <p class="timeline__blurb">{{ section.description }}</p>
  </div>
</div>
