app-card {
  position: absolute;
  top: 15%;
}

.container {
  background: #e6dace;
  padding: 5%;
  margin-top: 40%;

  .content {
    padding: 90% 5% 5% 10%;
    background: inherit;

    .titulo {
      font-weight: bold;
      font-size: 2rem;
    }

    .subtitulo {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  .content > * {
    background: inherit;
  }
}

@media screen and (min-width: 768px){
  .container {
    .content {

    }
  }
}
