<section class="content p-32 overflow-hidden w-screen">
  <h2 class="content__title font-bold py-8 hidden invisible lowercase">Articles</h2>

  <ul class="content__list">
    @for(item of listArticle; track item) {
      <li class="content__list__item py-4">
        <a (click)="redirectToArticle(item.id)">
          <article class="">
            <time class="content__list__item--date">
             {{ item.date | date:'medium' }}
            </time>

            <h3 class="content__list__item--title font-bold">
              {{ item.title }}
            </h3>

            <p class="content__list__item--description font-normal">
              {{ getDescription(item) }}
            </p>
          </article>
        </a>
      </li>
    }
  </ul>
</section>
