<section class="content">
  <p class="up-title">
    Projects
  </p>

  <h2 class="title">
    Latest Projects
  </h2>

  <nav class="projects">
    <a class="link">
      <img src="{{ CONSTANTES.ICONE_SETA_GITHUB }}" alt="seta para github" class="seta-redirect">
    </a>

    <div class="container">
      <div class="voltar">
        <img src="" alt="seta para retroceder">
      </div>
      <figure>
        <img src="" alt="">

        <figcaption>
          <h5>
            Titulo do Projeto
          </h5>

          <p class="descricao-image">
            Descrição do Projeto.
          </p>
        </figcaption>
      </figure>
      <div class="avancar">
        <img src="" alt="seta para avançar">
      </div>
    </div>
  </nav>
</section>
