<section class="content">
  <p class="up-title">
    Projects
  </p>

  <h2 class="title">
    Latest Projects
  </h2>

  <nav class="projects mobile">
    <a class="link" href="{{ projectShow.html_url }}" target="_blank">
      <img src="{{ CONSTANTES.ICONE_SETA_GITHUB }}" alt="seta para github" class="seta-redirect">
    </a>

    <div class="container">
      <div class="voltar" (click)="voltarProjeto()">
        <img src="{{ CONSTANTES.ICONE_SETA_IMAGENS }}" alt="seta para retroceder">
      </div>
      <figure>
        <img src="{{ projectShow.image || preencherImagens(projectShow.name) }}" alt="">

        <figcaption>
          <h5 class="image-title">
            {{ projectShow.name }}
          </h5>

          <p class="descricao-image">
            {{ projectShow.description.substr(0, 50) }}
          </p>
        </figcaption>
      </figure>
      <div class="avancar" (click)="avancarProjeto()">
        <img src="{{ CONSTANTES.ICONE_SETA_IMAGENS }}" alt="seta para avançar">
      </div>
    </div>
  </nav>

  <nav class="projects desktop">
    <div class="container-desktop" *ngFor="let project of repositories">
      <a class="link" href="{{ project.html_url }}" target="_blank">
        <img src="{{ CONSTANTES.ICONE_SETA_GITHUB }}" alt="seta para github" class="seta-redirect">
      </a>
      <figure>
        <img src="{{ project.image || preencherImagens(project.name) }}" alt="">

        <figcaption>
          <h5 class="image-title">
            {{ project.name }}
          </h5>

          <p class="descricao-image">
            {{ project.description.substr(0, 50) }}
          </p>
        </figcaption>
      </figure>
    </div>
  </nav>
</section>
