section {
    padding: 10% 5% 5% 5%;
    display: flex;
}

section a {
    margin: 0;
    margin-bottom: 10%;
    padding-right: 0%;
}

section img {
    width: 60%;
}

section img:hover {
    background-color: #1CB698;
    border-radius: 50%;
}