<section>
    <a href="{{linkFacebook()}}" target="_blank" class="card-link"><img src="{{iconFacebook()}}" alt="icone Facebook"></a>
    <a href="{{linkInstagram()}}" target="_blank" class="card-link"><img src="{{iconInstagram()}}" alt="icone Instagram"></a>
    <a href="{{linkTwitter()}}" target="_blank" class="card-link"><img src="{{iconTwitter()}}" alt="icone Twitter"></a>
    <a href="{{linkLinkedin()}}" target="_blank" class="card-link"><img src="{{iconLinkedin()}}" alt="icone Linkedin"></a>
    <a href="{{linkGithub()}}" target="_blank" class="card-link"><img src="{{iconGithub()}}" alt="icone Github"></a>
  </section>