@import "./src/assets/styles/global";

.content {
  align-items: center;
  height: 100%;
  overflow: hidden;
  padding: 2rem;
}

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;

  position: absolute;
  z-index: 10;
  height: 100vh;
  overflow: hidden;
}

.navbar {
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: rem(62px);
}

.navbar .menu-items {
  display: flex;
  height: 35vh;
  padding: 8.5rem 2rem;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: $blue-porple;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
  font-weight: bolder;
}

.nav-container {
  position: relative;
  height: rem(60px);
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: rem(32px);
  width: rem(32px);
  top: rem(20px);
  right: rem(20px);
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  height: rem(26px);
  width: rem(32px);
  position: absolute;
  top: rem(17px);
  right: rem(20px);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: rem(4px);
  width: 100%;
  border-radius: rem(10px);
  background: $white-text;
  transition: 1s ease;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  background: $white-text;
  transform: translate(150%);
  display: flex;
  flex-direction: column;
  margin-right: rem(-40px);
  padding-right: rem(50px);
  transition: transform 0.5s ease-in-out;
  text-align: start;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.menu-items .contact {
  padding: 6rem 0;
  text-align: center;

  .title {
    letter-spacing: rem(2px);
    text-transform: uppercase;
    padding-bottom: 2rem;
    font-weight: normal;
    color: #cbc9e2;
  }
}

.menu-items .social {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  padding-left: 2.5rem;
}

.logo {
  position: absolute;
  z-index: 200;
  font-size: 1.2rem;
  transition: 1s ease;
  font-weight: bold;
  letter-spacing: .2rem;
  line-height: 1.2;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
  background: $blue-porple;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
  background: $blue-porple;

}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
  background: $blue-porple;
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  color: $blue-porple;
}


.logo {
  cursor: pointer;
}
