.open {
  animation: 1s all ease-out;
  //right: 0;
  display: block;
}

.closed {
  display: none;
  //position: absolute;
  //left: 0;
  //animation: 0.5s all ease-out;
  //visibility: hidden;
  //display: none;
}

//
//@keyframes closed-menu {
//  0% {
//    right: ;
//  }
//}
