<header class="content">
  <nav class="navbar">
    <div class="container nav-container">
      <input class="checkbox" type="checkbox" name="" id="" />
      <div class="hamburger-lines">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </div>
      <div class="logo green-color">
        <h1 (click)="goToHome()">Träumeer</h1>
      </div>
      <div class="menu-items">
        <ul>
          <li>
            <a (click)="goToWork()">
              my work
            </a>
          </li>
          <li>
            <a (click)="goToShelf()">
              my shelf
            </a>
          </li>
          <li>
            <a (click)="goToResume()">
              my résumé
            </a>
          </li>
        </ul>

        <div class="contact">
          <h3 class="title">
            say hello
          </h3>

          <p class="blue-porple-text">lucassj.dev@gmail.com</p>
        </div>

        <div class="social ">
          <p class="blue-porple-text">
            <a href="https://twitter.com/luccastraumer" target="_blank">
              TW
            </a>
          </p>
          <p class="blue-porple-text">
            <a href="https://github.com/luccastraumer" target="_blank">
              GH
            </a>
          </p>
          <p class="blue-porple-text">
            <a href="https://www.linkedin.com/in/lucassjesus/" target="_blank">
              LN
            </a>
          </p>
          <p class="blue-porple-text">
            <a href="https://instagram.com/luccastraumer" target="_blank">
              IG
            </a>
          </p>
        </div>
      </div>
    </div>
  </nav>
</header>


<!--<header class="content">-->
<!--  <nav class="content__navbar">-->
<!--    <div class="content__navbar__container content__navbar__nav-container">-->
<!--      <input type="checkbox" class="content__navbar__container&#45;&#45;checkbox">-->

<!--      <div class="content__navbar__container__hamburger-lines">-->
<!--        <span class="content__navbar__container__hamburger-lines&#45;&#45;line line1"></span>-->
<!--        <span class="content__navbar__container__hamburger-lines&#45;&#45;line line2"></span>-->
<!--        <span class="content__navbar__container__hamburger-lines&#45;&#45;line line3"></span>-->
<!--      </div>-->

<!--      <div class="content__navbar__container__logo green-color">-->
<!--        <h1 (click)="goToHome()">Träumeer</h1>-->
<!--      </div>-->

<!--      <div class="content__navbar__container__menu-items">-->
<!--        <ul class="content__navbar__container__menu-items__list">-->
<!--          <li class="content__navbar__container__menu-items__list&#45;&#45;item">-->
<!--            <a (click)="goToWork()">-->
<!--              my work-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="content__navbar__container__menu-items__list&#45;&#45;item">-->
<!--            <a (click)="goToShelf()">-->
<!--              my shelf-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="content__navbar__container__menu-items__list&#45;&#45;item">-->
<!--            <a (click)="goToResume()">-->
<!--              my résumé-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->

<!--        <div class="content__navbar__container__menu-items__contact">-->
<!--          <h3 class="title">-->
<!--            say hello-->
<!--          </h3>-->

<!--          <p class="blue-porple-text">lucassj.dev@gmail.com</p>-->
<!--        </div>-->

<!--        <div class="content__navbar__container__menu-items__social ">-->
<!--          <p class="blue-porple-text">-->
<!--            <a href="https://twitter.com/luccastraumer" target="_blank">-->
<!--              TW-->
<!--            </a>-->
<!--          </p>-->
<!--          <p class="blue-porple-text">-->
<!--            <a href="https://github.com/luccastraumer" target="_blank">-->
<!--              GH-->
<!--            </a>-->
<!--          </p>-->
<!--          <p class="blue-porple-text">-->
<!--            <a href="https://www.linkedin.com/in/lucassjesus/" target="_blank">-->
<!--              LN-->
<!--            </a>-->
<!--          </p>-->
<!--          <p class="blue-porple-text">-->
<!--            <a href="https://instagram.com/luccastraumer" target="_blank">-->
<!--              IG-->
<!--            </a>-->
<!--          </p>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->
<!--</header>-->
