<header class="content mobile">
  <div class="informacoes">
    <img src="{{ CONSTANTES.LOGO_NOVO }}" class="informacoes__logo" alt="Icone de Logo">
  </div>

  <div
    class="menu-hamburguer"
    (click)="changeManuHamb()"
    [ngClass]="isMenuHamburguerOpen ? 'active-hamb' : ''"
  >
    <div class="menu-hamburguer__first-line"></div>
    <div class="menu-hamburguer__second-line"></div>
    <div class="menu-hamburguer__third-line"></div>
  </div>

  <app-modal-hamb
    [isAtivo]="isMenuHamburguerOpen"
    (elementoFocado)="changeActive($event)"
  ></app-modal-hamb>
</header>

<header class="content desktop">
  <div class="informacoes">
    <div class="informacoes__quadrado"></div>
    <h3 class="informacoes__titulo">
      Lucas Jesus
    </h3>

    <p class="informacoes__subtitulo">
      Software Developer
    </p>
  </div>

  <nav class="menu">
    <ul class="lista">
      <li class="lista__item" (click)="changeActive('About')">About me</li>
      <li class="lista__item" (click)="changeActive('resume')">Resume</li>
      <li class="lista__item" (click)="changeActive('Projects')">Projects</li>
      <li class="lista__item" (click)="changeActive('Contact')">Contact</li>
    </ul>
  </nav>
</header>
