.content {
  background: white;
  padding: 10% 5%;

  .data {
    color: var(--azul);
    font-weight: bold;
    font-size: 1rem;
  }

  .cargo {
    text-transform: uppercase;
  }

  .empresa {
    margin: 0 0 10% 0;

    p {
      margin: 0;
    }
  }

  .descricao {
    letter-spacing: 1px;
  }
}
