<section class="content">
  <img class="profile-image" src="{{ CONSTANTES.IMAGEM_ABOUT }}" alt="Imagem Lucas Jesus">

  <h2 class="titulo">
    Lucas
    Jesus
  </h2>

  <hr>

  <div class="buttons">
    <button class="botao azul">Resume</button>
    <button class="botao transp">Projects</button>
  </div>

  <nav class="rede-social">
    <a href="" class="rede-social__item">
      <img src="{{ CONSTANTES.PATH_ICONE_LINKEDIN }}" alt="Icone Linkedin">
    </a>
    <a href="" class="rede-social__item">
      <img src="{{ CONSTANTES.PATH_ICONE_GITHUB }}" alt="Icone Github">
    </a>
    <a href="" class="rede-social__item">
      <img src="{{ CONSTANTES.PATH_ICONE_TWITTER }}" alt="Icone Twitter">
    </a>
    <a href="" class="rede-social__item">
      <img src="{{ CONSTANTES.PATH_ICONE_INSTAGRAM }}" alt="Icone Instagram">
    </a>
  </nav>
</section>
