.content {
  background: white;
  padding: 10% 5%;
  -webkit-box-shadow: -10px 10px 15px -15px #000000;
  box-shadow: -10px 10px 15px -15px #000000;
  border-radius: 5px;
  display: flex;
  flex-flow: column wrap;


  .data {
    color: var(--azul);
    font-weight: bold;
    font-size: 1rem;
  }

  .cargo {
    text-transform: uppercase;
  }

  .empresa-inst {
    width: auto;
    margin: 0 0 5% 0;

    p {
      margin: 0;
    }

    .nivel-escolaridade {
      padding: 2% 0 0 0;
    }
  }

  .descricao {
    letter-spacing: 1px;
  }
}

@media screen and (min-width: 1024px) {
  .content {
    height: 25vh;
    justify-content: flex-start;
    padding-top: 15%;

    .empresa-inst {
      height: 50%;
    }

    .descricao {
      width: 70%;
    }
  }
}
