.content {
  background: white;
  padding: 10% 5%;
  -webkit-box-shadow: -10px 10px 15px -15px #000000;
  box-shadow: -10px 10px 15px -15px #000000;
  border-radius: 5px;

  .data {
    color: var(--azul);
    font-weight: bold;
    font-size: 1rem;
  }

  .cargo {
    text-transform: uppercase;
  }

  .empresa-inst {
    margin: 0 0 10% 0;

    p {
      margin: 0;
    }

    .nivel-escolaridade {
      padding: 5% 0 0 0;
    }
  }

  .descricao {
    letter-spacing: 1px;
  }
}
