<section class="content">
  <h3 class="data">
    {{ card.anoInicio }} - {{ card.anoFinal ? card.anoFinal : 'Present' }}
  </h3>

  <p class="cargo">
    {{ card.cargoExercido }}
  </p>

  <div class="empresa-inst">
    <p>
      {{ card.nomeEmpresa || card.nomeInstituicao }}
    </p>

    <p class="nivel-escolaridade" *ngIf="card.nivelEscolaridade">
      {{ card.nivelEscolaridade }}
    </p>

    <p>
      {{ card.localizacao }}
    </p>
  </div>

  <p class="descricao">
    {{ card.descricao }}
  </p>
</section>
