<section class="content">
  <div class="content__main">
    <h2 class="content__main--title title green-color px-8">Frontend Developer.</h2>
    <p class="content__main--description description white-text px-8">
      I like to create and explore products with great interfaces
    </p>

    <div class="content__main--subtitles flex green-color px-8">
      <p class="content__subtitles--subtitle px-8">
        Highly skilled at progressive enhancement, design systems & UI Engineering.
      </p>
      <p class="content__main--subtitles--subtitle px-8 py-2">
        Proven experience building successful products for clients across several countries.
      </p>
    </div>
  </div>

  <section class="content__me bg-green w-100 w-full">
    <img src="https://images.squarespace-cdn.com/content/v1/5e6ece70bd2f8a6de8472818/714f685e-d0ba-40f9-8bb2-38722c1fd29c/Tiny+Avatar.png" alt="">
  </section>
</section>
