.interest {
  display: flex;
  flex-direction: column;
}

.all-cards {
  justify-content: start;
}

ul {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-right: 0%;
  grid-template-columns: repeat(3, 20%);
}

.card {
  background-color: #252a2e;
  border-radius: 10%;
}

ul li {
  height: 10vh;
  width: 80%;
  text-align: center;
  justify-content: center;
  transition: all 0.5s ease;
  text-transform: uppercase;
  font-weight: 100;
  box-shadow: 0 8px 6px -6px black;
}

li img {
  width: 40%;
  align-self: center;
  padding: 2%;
}

.card:hover {
  background-color: #1CB698;
}

@media only screen and (min-width: 425px) {
  li img {
    padding: 2%;
    width: 15%;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  li img {
    padding: 2%;
    width: 25%;
  }
}

@media only screen and (min-width: 1024px) {
  ul {
    justify-content: center;

  }

  li img {
    width: 22%;
  }
}
