<div class="content">
  <h3 class="content__title">
    Skills
  </h3>

  <p class="content__description">
    The main skills that I acquired during my career.
    <br>
    If based on percentages it is considered
  </p>

  <nav class="content__carrossel">
    <button
      (click)="irParaAnterior()"
      class="content__carrossel--previous"
    >
    </button>

    <ul class="content__list">
      <li
          *ngFor="let item of skills; index as index"
          class="content__list--item"
          [ngClass]="index === firstItem || index === secondItem || index === thirdItem ? 'item-active' : ''"
          id="item-{{index}}"
      >
        <figure
            class="content__list--container"
            (mouseenter)="initAnimated(item)"
        >
          <div class="circular-progress circular-progress-{{item.descricao}}">
            <span class="progress-value progress-value-{{item.descricao}}">0%</span>
          </div>
          <figcaption>{{ item.descricao }}</figcaption>
        </figure>
      </li>
    </ul>

    <button
      (click)="irParaProximo()"
      class="content__carrossel--next"
    >
    </button>
  </nav>
</div>
