<header class="content" #container [ngClass]="isWithBackground ? 'background' : 'container'">
  <img loading="lazy" src="{{ CONSTANTES.ICONE_LOGO_COM_CAMADAS }}" alt="Icone Logo" class="content__logo">

  <app-hamburguer-menu></app-hamburguer-menu>

  <ul class="content__list">
    <li class="content__list--item">
      <a href="#home">Home</a>
    </li>
    <li class="content__list--item">
      <a href="#skills">Skills</a>
    </li>
    <li class="content__list--item">
      <a href="#projects">Projects</a>
    </li>

    <li class="content__list--item">
      <a href="#contact" class="content__list--button" type="submit">
        Let's Connect
      </a>
    </li>
  </ul>

</header>
