.button {
  background-color: var(--first-color);
  font-weight: 500;
  text-align: center;
  border-radius: 5px;

  a {
    color: var(--bg-contraste);
  }
}

@media screen and (min-width: 768px) {
  .button {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
  }
}

@media screen and (max-width: 425px) {
  .button {
    display: block;
    text-align: center;
  }
}
