<section class="container p-4" id="exp">
  <h2 class="py-2 text-xl">Experience</h2>


  <ol class="relative border-l border-gray-200 my-4">
    <li class="mb-10 ml-4 ">
      <div class="absolute w-3 h-3 bg-yellow-500 rounded-full mt-1.5 -left-1.5 dark:border-yellow-900"></div>
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Software Development</h3>
      <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">April 2022</time>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400 hover:dark:text-white">
        I work at a higher education institution in Brazil, supporting and developing visual features, from screens to
        individual components, with Angular 14.
      </p>
    </li>
    <li class="mb-10 ml-4">
      <div class="absolute w-3 h-3 bg-yellow-500 rounded-full mt-1.5 -left-1.5 dark:border-yellow-900"></div>
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Software Development Jr</h3>
      <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">February 2021 - April 2022</time>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400 hover:dark:text-white">
        I worked together in the development of a responsive web application for one of the largest banks in Brazil,
        working in the development both delivering screens, visual components with Angular 8, and in the creation,
        maintenance and implementation of microservices with Java
      </p>
    </li>
    <li class="mb-10 ml-4">
      <div class="absolute w-3 h-3 bg-yellow-500 rounded-full mt-1.5 -left-1.5 dark:border-yellow-900"></div>
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Software Development Intent - Fullstack</h3>
      <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">February 2020 - February 2021</time>
      <p class="text-base font-normal text-gray-500 dark:text-gray-400 hover:dark:text-white">
        I learned about the tools, agile processes, which were and are used within the company. Learning about the life
        cycle of products and being careful at each stage, striving for the best delivery.
      </p>
    </li>
    <li class="ml-4">
      <div class="absolute w-3 h-3 bg-yellow-500 rounded-full mt-1.5 -left-1.5 dark:border-yellow-900"></div>
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Student Mento and PADEMT Tutor</h3>
      <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">December 2019 - January 2021</time>
      <p class="text-base font-normal text-gray-500 dark:text-gray-400 hover:dark:text-white">
        I worked as a computer monitor, where I helped students with technical doubts in computer science throughout the
        course, from Arduino with C ++ to mobile devices with Swift and Database. The contexts and languages used are
        quite diverse.
      </p>
    </li>
  </ol>

</section>
