@defer(on viewport; when work()) {
  <section class="content pt-40 h-full p-16 overflow-hidden w-screen">
    <h2 class="content__title title lowercase font-bold">
      {{ work().title }}
    </h2>

    <figure class="content__work">
      <app-caroussel
        [listImages]="work().images"
      ></app-caroussel>

      <figcaption class="content__work__description p-4">
        {{ work().description }}
      </figcaption>
    </figure>

    <div class="content__contact flex items-center justify-center">
      <app-contact></app-contact>
    </div>
  </section>
} @placeholder {
  <app-skelton [typeSkeleton]="'card'"/>
}

